//fonts
$montserrat: 'Montserrat', sans-serif;
$oenSans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
//color

$colors: (
  primary:            #fea444,
  secondary:          #32db64,
  danger:             #f53d3d,
  light:              #f4f4f4,
  dark:               #222,
  white:            #ffffff,
  whiter:             #edeff0,
  menu-bar:           #51595e,
  menu-color:         #3b4863,
  border:             #a2a8b5,
  shadow:             #38434d,
  common-bg:          #e9edf3,
  green:            #6ace62,
  exclamation:        #a7b4bc,
  orange:           #fea81f,
  orange-btn:         #ff8c13,
  dis-exclamation:    #e8eaed,
  grey:             #e5e7ea,
  gray1:              #b1babf,
  dark-text:          #1f272c,
  dark-black:         #212d34,
  dash-border:        #edeeef,
  intial-text:        #324856,
  change-view:        #7d868c,
  vault-border:       #ced5df,
  grey-text:          #5f5f5f,
  red:              #f42534,
  fade-red:           #f8c3d0,
  btn-red:            #e83333,
  menu-icon:          #a0abb5,
  menu-title:         #586775,
  profile-text:       #ababab,
  blue:             #3b81fe,
  fade-blue:          #00bcdf,
  blue-text:          #02b8e1,
  name:               #2181e3,
  options:            #fea444,
  faded-grey:         #eaeaea,
  plant-button:       #f5f5f5,
  dark-grey:          #464646,
  date:               #414141,
  font-text:          #516d7f,
  dis-font:           #bdc1c6,
  border-stages:      #c2c7ca,
  blue-menu:          #008cec,
  wel-text:           #2c2c2d,
  blue-btn:           #156fcb,
  placeholder:        #8a8b8b,
  active:             #f99831,
  circle--blue:       #00bde2,
  para-gray:          #878787,
  accordionActive:    #1289da,
  color1:             #bbbbbb,
  discussion-name:    #324856,
  alert:              #ff9731,
);
