<ion-content class="intial">
    <ion-card>
      <ion-row class="intial__head">
        <ion-col col-2>
          <ion-icon color="green" class="ion-ios-checkmark-circle">
          </ion-icon>
        </ion-col>
        <ion-col col-9 class="intial__head-text">
          <p>Initial Proposal</p>
        </ion-col>
        <ion-col col-1>
          <ion-icon class="ion-md-close" (click)="dismiss()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row  class="intial__content">
        <ion-col col-12>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
            form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use
            a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden</p>
        </ion-col>
        <button ion-button full color="orange-btn" class="full-button">View Proposal</button>
      </ion-row>
    </ion-card>
  </ion-content>