page-initial-proposal {
    .scroll-content {
        padding: 20px 15px;
        background-color: map-get($colors, common-bg);
    }
}

.intial {
    &__head {
        padding-top: 48px/$divider;
        padding-bottom: 45px/$divider;
        background-color:  map-get($colors, whiter);
        padding-left: 66px/$divider;
        padding-right: 66px/$divider;
    }
    &__head-text {
        p {
            font-family: Montserrat, sans-serif;
            font-size: 48px/$divider;
            color: map-get($colors, intial-text);
        }
    }
    &__content {
        p {
            font-size: 15px;
            color: #516d7f;
            line-height: 22px;
        }
        padding-top: 65px/$divider;
        padding-bottom: 75px/$divider;
        padding-left: 66px/$divider;
        padding-right: 66px/$divider;
        button {
            margin-top: 84px/$divider;
        }
    }
    .ion-ios-checkmark-circle {
        font-size: 28px;
    }
    .ion-md-close {
        font-size: 56px/$divider;
        color: #b1babf;
    }
}