<ion-content class="login">
  <div class="login__content">
    <div class="login__logo-content">
      <div class="login__logo">
        <img src="assets/imgs/white-logo.svg" alt="logo">
      </div>
      <div>
        <p>fourth
          <br/>partner
          <br/>energy</p>
      </div>
    </div>
    <div class="login__sign">
      <h3>sign in</h3>
      <p>Enter the user name/password<br/>recieved from 4PEL representative</p>
    </div>
    <div class="login__form">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value, loginForm.valid)">
        <ion-item class="login__input" no-padding no-lines>
          <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
        </ion-item>
        <p *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched" class="show-error">Please enter valid email address.</p>
        <ion-item class="login__input" no-padding no-lines>
          <ion-input type="password" formControlName="password" placeholder="Password">
          </ion-input>
        </ion-item>
        <p *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched" class="show-error">Password must be more than five characters.</p>

        <ion-item class="login__sigin-button" no-padding no-lines>
          <button type="submit" ion-button [disabled]="loginForm.invalid" round full>Sign in</button>
        </ion-item>
        <ion-item no-padding no-lines>
          <button type="button" ion-button clear full (click)="goBack()">Cancel</button>
        </ion-item>
      </form>
    </div>
   
  </div>

  <!-- <div class="login__bulb">
    <div class="login__bulb-circle">
      <ion-icon class="ion-ios-bulb-outline"></ion-icon>
    </div>
    <div class="login__vertical-line"></div>
  </div> -->
</ion-content>
