page-login {
  .scroll-content {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    background-image: url('../assets/imgs/login-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-bottom: 0 !important;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

.login {
  ion-card {
    padding-top: 50px;
    padding-bottom: 40px;
    border-radius: 6px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin: 55px auto 70px;
      padding: 50px 65px;
    }
    p {
      font-size: 20px;
      color: map-get($colors, border);
      font-weight: 600;
      text-align: center;
    }
  }
  &__logo-content {
    display: flex;
    justify-content: center;
    p {
      font-family: Montserrat, sans-serif;
      font-size: 13px;
      margin-top: 34px;
      text-transform: uppercase;
      color: map-get($colors, white);
      font-weight: 600;
      line-height: 14px;
    }
  }
  &__sign {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    h3 {
      color: map-get($colors, white);
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      font-size: 30px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    p {
      color: map-get($colors, fade-red);
      font-weight: 500;
    }
  }
  &__logo {
    img {
      height: 75px;
    }
  }
  &__input {
    font-family: Montserrat, sans-serif;
    font-size: 36px/$divider;
    color: map-get($colors, profile-text);
    margin-bottom: 10px;
  }
  ion-item {
    background: transparent;
    .item-inner {
      padding-right: 0!important;
      border-bottom-color: 0!important;
      box-shadow: none!important;
    }
  }
  ion-input {
    border: 1px solid #ffc8c2;
    border-radius: 36px;
    background-color: transparentize($color: #fe7c76, $amount: 0.5);
    padding: 0 15px;
    color: map-get($colors, white);
  }
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: map-get($colors, white);
    font-weight: 600;
  }
  ion-card-content {
    padding: 13px 30px 14px;
  }
  &__sigin-button {
    text-align: center;
    .item-button {
      background-color: #248dd5;
      padding: 12px 25px;
      height: 45px;
      font-size: 16px;
      color: map-get($colors, white);
    }
  }
  .show-error {
    color: map-get($colors, white)!important;
  }
  &__keep-signed {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .ion-ios-checkmark-circle {
      color: #23cea4;
      font-size: 20px;
    }
    p {
      color: map-get($colors, white);
      margin-left: 5px;
    }
  }
  // &__bulb {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   // position: fixed;
  //   // left: 50%;
  //   // bottom: 0;
  // }
  // &__bulb-circle {
  //   background: #f96e59;
  //   height: 50px;
  //   width: 50px;
  //   border-radius: 50%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   // position: absolute;
  //   // bottom: 25px;
  //   .ion-ios-bulb-outline {
  //     color: map-get($colors, white);
  //     font-size: 40px;
  //     font-weight: 500;
  //   }
  // }
  // &__vertical-line {
  //   height: 32px;
  //   width: 2px;
  //   background: #fff;
  //   // position: absolute;
  //   // bottom: 0;
  // }
}
