<div class="plant__view-select">
  <ion-icon item-center class="ion-ios-eye-outline"></ion-icon>
  <ion-select multiple="true" [selectOptions]="selectOptions" selectedText=" " (ionChange)="onSelectChange($event)">
    <ion-option *ngFor="let inv of invArray" [value]="inv" [selected]="inv">{{inv.label}}</ion-option>
  </ion-select>
</div>
<div style="display: block">
    <canvas baseChart #baseChart="base-chart" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType">
    </canvas>
</div>