page-vault {
  .scroll-content {
    background-color: map-get($colors, common-bg);
    // padding: 75px/$divider 10px;
  }
  ion-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ion-title {
    font-family: Montserrat, sans-serif;
    font-size: 60px/$divider;
    margin-top: 3px;
    color: map-get($colors, intial-text);
    .toolbar-title {
      text-overflow: unset;
    }
  }
}
