<ion-header class="fp-header">
  <ion-navbar no-border-top no-border-bottom>
    <ion-buttons item-start>
      <button ion-button icon-only menuToggle>
        <ion-icon class="ion-md-menu" color="menu-bar"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <img src="assets/imgs/logo.svg" alt="logo">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="vault">
  <vault-items *ngIf="showVaultData" [vaultItems]="showVaultData" (open)="show($event)">
    <button ion-button back *ngIf="vaultMap.length" (click)="goBack()">Back</button>
    <button ion-button back *ngIf="vaultMap.length" (click)="getAll()">Vault Home</button>
  </vault-items>

</ion-content>
<alerts-fab></alerts-fab>
<discussions-fab *ngIf="projectStatus?.status === 'open'"></discussions-fab>
