<ion-header class="fp-header">
  <ion-navbar no-border-top no-border-bottom>
    <ion-buttons>
      <button ion-button icon-only menuToggle>
        <ion-icon class="ion-md-menu" color="menu-bar"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Service Request</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <img src="assets/imgs/logo.svg" alt="logo">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="request">
  <div padding class="request__single" *ngFor="let data of serviceData" (click)="gotoConversation(data.id)">
    <div class="request__img-date">
     <div class="request__img--wrapper">
       <ion-icon class="fourpl-folder"></ion-icon>
     </div>
      <p>{{data?.created_at_timestamp | amTimeAgo:true}}</p>
    </div>
    <div class="request__content">
      <h3>{{data?.title}}</h3>
      <p>{{data?.service_request_type?.description}}</p>
    </div>
  </div>
  <div padding class="request__single" *ngIf="!serviceData.length">
    <div class="request__content">
      <p>There are no service request currently.</p>
    </div>
  </div>
  <ion-fab bottom right (click)="createServiceRequest()">
    <button ion-fab mini class="request__create" color="orange">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
