page-service-request {
  .scroll-content {
    padding-top: 30px/$divider;
    background-color: map-get($colors, common-bg);
  }
  ion-title {
    font-family: $montserrat;
    font-size: 60px/$divider;
    margin-top: 3px;
    color: map-get($colors, intial-text);
    .toolbar-title {
      text-overflow: unset;
    }
  }
}
.request {
  &__single {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: map-get($colors, white);
    border-bottom: 1px solid #c0c9d6;
    &:nth-child(odd) {
      .request__img--wrapper {
        background-color: map-get($colors, orange-btn);
      }
    }
    &:nth-child(even) {
      .request__img--wrapper {
        background-color: map-get($colors, circle--blue);
      }
    }
  }
  &__img-date {
    font-size: 30px/$divider;
    color: map-get($colors, para-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    text-align: center;
    flex-shrink: 0;
    img {
      width: 45px;
    }
    p {
      color: map-get($colors, para-gray);
      font-size: 30px/$divider;
      margin: 5px 0;
    }
  }

  &__img--wrapper {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: map-get($colors,white);
  }

  &__content {
    color: map-get($colors, intial-text);
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      width: 90%;
    }
    h3 {
      font-family: $montserrat;
      font-size: 45px/$divider;
      margin-top: 0 !important;
      margin-bottom: 0;
      color: map-get($colors, intial-text);
    }
    p{
      margin: 5px 0;
      font-family: $roboto;
      color: map-get($colors, intial-text);
    }
  }
} 
