project {
  .project {
    background-color: #E9E9FF;
    margin-right: 1.5rem;
    border-radius: 0.6rem;
  }

  .project-label {
    margin: 0 !important;
    font-size: 1.2rem;
    background: none;
    border-radius: 0;
    box-shadow: none;
    padding: 1rem 0 0 0;
    max-width: 100%;
    color: map-get($colors, font-text);
  }

  .project-select {
    max-width: 100%;
    color: map-get($colors, blue-text);
    padding-bottom: 0.8rem
  }
}
