<ion-list class="project" *ngIf="projects && projects.length > 1">
  <ion-item no-lines color="deep-blue" class="project__select">
    <ion-label class="project-label" stacked>Select Project</ion-label>
    <ion-select class="project-select" [(ngModel)]="selectedProject" (ionChange)="selectProject(selectedProject, true)" name="project" [compareWith]="compareFn">
      <ion-option *ngFor="let project of projects" [value]="project">{{project.name}}</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
