<ion-header>
  <ion-navbar no-border-top no-border-bottom>
    <ion-title text-center>Service Request</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <img src="assets/imgs/logo.svg" alt="logo">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="conversation">
  <conversation-item [serviceItem]="serviceData"></conversation-item>
  <div class="conversation__single conversation__comment" *ngFor="let messageDetail of getConversation">
    <div class="conversation__head" padding>
      <user-avatar [name]="messageDetail?.sender_name" [class.client]="messageDetail?.from" [class.staff]="!messageDetail?.from"></user-avatar>
      <div class="conversation__head-content">
        <h3>{{messageDetail?.sender_name}}</h3>
        <p>{{messageDetail?.created_at_timestamp | amDateFormat:'MMMM Do YYYY, h:mm a'}}</p>
      </div>
    </div>

    <div class="conversation__content" padding-horizontal>
      <p>{{messageDetail?.message}}.</p>
    </div>
  </div>

  <div class="conversation__single conversation__comment" *ngIf="!serviceData?.service_manager">
    <div class="conversation__head" padding>
      <div class="conversation__head-content">
        <p>A service manager has not been assigned to this request, yet.</p>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!serviceData?.status">
    <div class="conversation__single conversation__comment" *ngIf="serviceData?.service_manager !== null">
      <div class="conversation__head" padding>
        <user-avatar [name]="serviceData?.customer?.name"></user-avatar>
        <div class="conversation__head-content">
          <h3>{{serviceData?.customer?.name}}</h3>
        </div>
      </div>
  
      <div class="conversation__content" padding>
        <form [formGroup]="conversationGroup" (ngSubmit)="doConversation(conversationGroup.value, conversationGroup.valid)">
          <ion-textarea placeholder="Type your text.." formControlName="message"></ion-textarea>
          <p class="show-error" *ngIf="conversationGroup.get('message').invalid && conversationGroup.get('message').touched && conversationGroup.get('message').hasError('minlength')">
            Message must be at least {{conversationGroup.get('message').getError('minlength').requiredLength}} character
          </p>
          <button ion-button full color="orange-btn" class="full-button">Post Comment</button>
        </form>
      </div>
    </div>
  </ng-container>

  <div class="conversation__single conversation__comment" *ngIf="serviceData?.status">
    <div class="conversation__head" padding>
      <div class="conversation__head-content">
        <p>This request has been closed.</p>
      </div>
    </div>
  </div>
</ion-content>
