page-service-request-conversation {
  .scroll-content {
    padding-top: 30px/$divider;
    background-color: map-get($colors, common-bg);
  }
}

.conversation {
  &__single {
    margin-bottom: 15px;
    background-color: map-get($colors, white);
    &.conversation__comment:last-child {
      margin-bottom: 0px;
    }
  }
  &__head {
    border-top: 1px solid #c4cdd8;
    border-bottom: 1px solid #c4cdd8;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    h3 {
      font-family: $montserrat;
      font-size: 45px/$divider;
      color: map-get($colors, intial-text);
      margin-top: 0px !important;
      margin-bottom: 5px;
    }
    p {
      font-size: 30px/$divider;
      color: #8a8b8b;
      margin: 0;
    }
  }
  &__head-content {
    margin-left: 15px;
  }
  &__content {
    padding-top: 10px;
    padding-bottom: 10px;
    color: map-get($colors, grey-text);
    p,
    h5 {
      font-size: 32px/$divider;
      margin: 0;
    }
    h5 {
      margin-top: 50px/$divider;
    }
    p {
      line-height: 20px;
    }
  }
  &__head-design {
    background-color: map-get($colors, red);
    padding: 20px/$divider 25px/$divider;
    font-weight: bold;
    font-size: 25px/$divider;
    color: map-get($colors, white);
    border-radius: 8px;
    position: absolute;
    right: 16px;
  }
  &__img-date {
    width: 62px;
    height: 62px;
    img {
      min-width: 62px;
    }
  }
  textarea.text-input {
    background-color: #f1f4f8;
    color: #8a8b8b;
    height: 440px/$divider;
    padding: 50px/$divider 45px/$divider;
    margin-bottom: 16px;
    margin-top: 0px;
    width: 100%;
    border-radius: 6px;
    line-height: 20px;
    font-size: 14px;
    margin-left: 0px;
  }
}
