.vault-list {
  &__count {
    display: flex;
    align-items: center;
    ion-badge {
      margin: 1rem 0.6rem 0 0;
      border-radius: 0.5rem;
      font-size: 1.2rem;
      background-color: map-get($colors, faded-grey);
      color: map-get($colors, dark);
      ion-icon {
        width: 1.5rem;
      }
    }
  }
  &__image {
    width: 15%;
    flex-shrink: 0;
  }
  &__text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 85%;
    color: map-get($colors, intial-text);
    margin-left: 30px/$divider;
    h2 {
      margin-top: 0;
      font-size: 40px/$divider;
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
    }
    p {
      font-size: 13px;
      margin: 1rem 0 0 0;
    }
  }
}

vault-item {
  $margin: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 30px/$divider;
  margin: #{$margin/2} 0;
  background: #fff;
  border-radius: 8px;
  border: 1px solid map-get($colors, vault-border);

  &.full {
    width: 100%;
    align-items: center;
    &__text {
      h2 {
        font-size: 40px/$divider;
      }
    }
    .vault-list__icon {
      position: relative;
      color: #8299a9;
      font-size: 30px;
    }
  }
  &.half {
    width: calc(50% - #{$margin/2});
    .vault-list__text h2{
      font-size: 13px;
    }
    &:nth-of-type(2n + 2) {
      margin-left: $margin;
    }

    .vault-list__icon {
      display: none;
    }
  }

  @media screen and (min-width: map-get($grid-breakpoints, "md")) {
    justify-content: space-evenly;
    align-items: center;
  }
}




