<div class="vault-list__image">
  <img [src]="isFile ? images[item.ext] : images.folder">
</div>
<div class="vault-list__text">
  <h2>{{item?.name || item?.filename}}</h2>
  <p *ngIf="item?.description">{{item?.description}}</p>
  <div class="vault-list__count">
    <!-- <ng-container *ngIf="item?.children">
      <ion-badge class="folder-badge" item-end>
        <i class="ion-icon ion-ios-folder-outline"></i>
        <span>{{item?.children?.length}}</span>
      </ion-badge>
    </ng-container> -->
   
    <ng-container>
      <ion-badge class="file-badge" *ngIf="(item?.files) || (item?.children)" item-end>
        <i class="ion-icon ion-ios-document-outline"></i>
        <span>{{(item?.files?.length) + (item?.children?.length)}}</span>
      </ion-badge>
    </ng-container>
  </div>
</div>
<div class="vault-list__icon">
  <ion-icon [class]="isFile ? images.more : images.arrow"></ion-icon>
</div>
