vault-items {
  .view-icon ion-icon {
    font-size: 40px;
    color: map-get($colors, change-view);
  }
}

.vault {
  &__menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px/$divider 10px;
  }
  button:not([ion-fab]) {
    height: 35px;
  }
}
.vault-list {
  margin: 0 10px 30px;
}
