<div class="vault__menus">
  <div>
    <ng-content select="[back]"></ng-content>
  </div>
  <div class="view-icon" (click)="viewList = !viewList">
    <ion-icon [name]='viewList ? "apps" : "list"'></ion-icon>
  </div>
</div>

<ion-row class="vault-list">
  <vault-item [class.full]="viewList" [class.half]="!viewList" *ngFor="let item of vaultItems?.children; let i = index" [item]="item"
    [isFile]="false" (selectItem)="openFolder(item, i)">
  </vault-item>

  <vault-item
    [class.full]="viewList"
    [class.half]="!viewList"
    *ngFor="let item of vaultItems?.files"
    [item]="item"
    [isFile]="true"
    [download-open]="item.url"
    [name]="item.filename + '.' + item.ext"
    [analyticsInput]="{file: item?.filename + '.' + item?.ext, project_id: vaultItems?.project_id}">
  </vault-item>

  <ion-card *ngIf="!vaultItems?.children && !vaultItems?.files">
    <ion-card-header>
      Nothing here yet
    </ion-card-header>
  </ion-card>
</ion-row>
