.portfolio-select {
  .alert-radio-label {
    text-transform: capitalize;
  }
}

.clients {
  &--wrapper {
    background-color: map-get($colors, white);
  }
  &--list {
    min-width: 50%;
    margin: 5px 0;
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
