<div class="portfolio__select-box" padding>
  <ion-item class="portfolio__select" no-padding no-lines>
    <ion-select [(ngModel)]="selectedIndustry" placeholder="Select Industry" [selectOptions]="selectOptions">
      <ion-option *ngFor="let industry of industries" [value]="industry.filterKey">{{industry.name}}</ion-option>
    </ion-select>
    <ion-icon item-right name="arrow-down" color="menu-icon"></ion-icon>
  </ion-item>
</div>

<div class="clients--wrapper" #isotopeWrapper>
  <div class="clients--list" *ngFor="let client of clients" [ngClass]="client.filterKey">
    <img [src]="client.name" [alt]="client.client">
  </div>
</div>
