conversation-item {
  .conversation {
    &__single {
      margin-bottom: 15px;
      background-color: map-get($colors, white);
    }
    &__head {
      border-top: 1px solid #c4cdd8;
      border-bottom: 1px solid #c4cdd8;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      h3 {
        font-family: $montserrat;
        font-size: 45px/$divider;
        color: map-get($colors, intial-text);
        margin-top: 0 !important;
        margin-bottom: 5px;
      }
      p {
        font-size: 30px/$divider;
        color: #8a8b8b;
        margin: 0;
      }
    }
    &__head-content {
      margin-left: 15px;
    }
    &__content {
      padding-top: 10px;
      padding-bottom: 10px;
      color: map-get($colors, grey-text);
      p,
      h5 {
        font-size: 14px;
        margin: 0;
      }
      h5 {
        margin-top: 50px/$divider;
        font-weight: 400;
      }
      p {
        line-height: 20px;
      }
    }
    &__head-design {
      background-color: map-get($colors, red);
      padding: 20px/$divider 25px/$divider;
      font-weight: bold;
      font-size: 25px/$divider;
      color: map-get($colors, white);
      border-radius: 8px;
      position: absolute;
      right: 16px;
    }
    &__img-time {
      display: block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: map-get($colors, circle--blue);
      font-size: 17px;
      line-height: 45px;
      text-align: center;
      color: #fff;
      font-family: $montserrat;

    }
  }
}