<div class="conversation__single">
  <div class="conversation__head" padding>
    <div class="conversation__img-time">
      <ion-icon class="fourpl-folder"></ion-icon>
    </div>
    <div class="conversation__head-content">
      <h3>{{serviceItem?.title}}</h3>
      <p>by {{serviceItem?.customer?.name}} / {{serviceItem?.created_at_timestamp | amDateFormat:'MMMM Do YYYY, h:mm a' }}</p>
    </div>
  </div>
  <div class="conversation__content" padding-horizontal>
    <p>{{serviceItem?.service_request_type?.description}}.</p>
  </div>
</div>
