page-discussion {
  ion-footer {
    background-color: map-get($colors, light);
  }
  .toolbar-content {
    display: flex;
  }
  .bar-buttons {
    order: 0;
  }
  ion-title {
    margin-right: 40px;
  }
}

.discussion {
  .scroll-content {
    background-color: #e3e3e3;
  }
  &__message {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    position: relative;
    bottom: 0;
    &.my-message {
      flex-direction: row-reverse;
      align-items: flex-end;
      .discussion__message-content {
        border-left: 0;
        border-right: 10px solid #2088fe;
        h3 .name {
          order: 2;
        }
        &:after {
          right: -20px;
          left: auto;
          border-width: 10px 0 10px 10px;
          border-color: transparent transparent transparent #2088fe;
        }
      }
    }
  }
  &__message-by {
    width: 15%;
    img {
      border-radius: 50%;
    }
  }
  &__message-content {
    position: relative;
    padding: 10px;
    border-radius: 6px;
    border-left: 10px solid #ffa71e;
    background-color: map-get($colors, white);
    width: 82%;
    margin-left: 10px;
    h3,
    p {
      font-family: Montserrat, sans-serif;
    }
    h3 {
      display: flex;
      justify-content: space-between;
      margin-top: 0;
      margin-bottom: 10px;
      .name {
        color: map-get($colors, discussion-name);
        font-weight: 500;
        font-size: 16px;
      }
      .date {
        flex-shrink: 0;
        color: #4a6474;
        font-size: 10px;
      }
    }
    p {
      color: #4a6474;
      font-size: 16px;
      line-height: 1.4;
      font-weight: 400;
      margin: 0;
    }
    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 10px);
      left: -20px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 10px 0;
      border-color: transparent #ffa71e transparent transparent;
    }
  }
  &__time {
    font-weight: 400;
    color: #c2c2c2;
    margin-left: 8px;
    font-size: 13px;
  }
  &__input {
    border: 1px solid #cbcbcb!important;
    border-radius: 8px;
    padding-left: 12px!important;
    background-color: map-get($colors, white);
  }
  &__type-message {
    .item-button {
      height: auto;
      padding: 8px 17px;
    }
    .discussion__input {
      .item-inner {
        display: flex;
        padding-right: 0;
        align-items: stretch;
      }
      button {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        margin: 0;
      }
    }
    ion-icon {
      color: #acacac
    }
    .text-input {
      color: #586775;
    }
  }
}
