<ion-header>
  <ion-navbar no-border-top no-border-bottom>
    <ion-buttons item-start>
      <button ion-button icon-only menuToggle>
        <ion-icon class="ion-md-menu" color="menu-bar"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Discussion</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <img src="assets/imgs/logo.svg" alt="logo">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="discussion" padding #content>
  <div class="discussion__chat" #discussionChat>
    <div class="discussion__message" *ngFor="let discussion of discussions" [class.my-message]="discussion.from">
      <!-- <div class="discussion__message-by">
        <img src="../../assets/imgs/message-user.png" alt="messsage-by">
      </div> -->
      <div class="discussion__message-content discussion__align--end">
        <h3>
          <span class="name">{{discussion.sender_name}}</span>
          <span class="date">{{discussion.created_at | amDateFormat:'MMMM D'}}</span>
        </h3>
        <!-- <p>{{discussion.message}}</p> -->
        <p [innerHTML]="discussion.message"></p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer padding>
  <div class="discussion__type-message" *ngIf="chatForm">
    <form [formGroup]="chatForm" (ngSubmit)=sendMessage(chatForm.value)>
      <ion-item class="discussion__input" no-padding no-lines>
        <ion-input type="text" formControlName="message" placeholder="Type your text..">
        </ion-input>

        <button ion-button item-right color="name">Send</button>
      </ion-item>
    </form>
  </div>
</ion-footer>
