page-contact {
  font-family: $montserrat;
  .scroll-content {
    background-color: map-get($colors, light);
    padding: 20px 15px;
  }
  .ion-md-menu {
    color: map-get($colors, white);
  }
  .toolbar-background {
    background: url('../assets/imgs/header-bg.png') no-repeat;
    background-size: 100% 100%;
  }
  .toolbar-title {
    color: map-get($colors, white);
    font-size: 18px;
  }
  .fourpl-map-marker {
    color: #a9a9a9;
    font-size: 20px;
    vertical-align: sub;
  }
  .toolbar-content {
    display: flex;
  }
  .bar-buttons {
    order: 0;
  }
  ion-title {
    margin-right: 40px;
  }
}

.contact {
  &__head {
    color: #383838;
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 0px;
  }
  &__offices {
    border-radius: 4px; 
    padding: 10px 0;
    background-color: map-get($colors, white);
  }
  &__office {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding:16px 16px 0 16px;
    border-bottom: 1px solid #e7e7e7;
    &:last-child {
      border-bottom: 0;
    }
    h4 {
      font-weight: 600;
      color: #156fcb;
      font-size: 16px;
      margin-top: 0px;
    }
    p {
      color: map-get($colors, menu-title);
      line-height: 1.6;
      font-weight: 400;
      margin-bottom: 16px;
      margin-top: 5px;
      b {
        font-weight: 600;
      }
    }
  }
  &__map {
    margin-right: 10px;
  }
  &__form {
    margin-top: 15px; 
    .button {
      padding-top: 7px;
      padding-bottom: 7px;
      font-weight: 500;
      font-size: 16px;
      border-radius: 5px;
      ion-icon {
        font-size: 22px;
        margin-right: 5px;
      }
    }
    ion-select {
      max-width: 100%;
      padding-left: 7px;
      .select-text {
        color: #586775;
      }
    }
  }
  &__input {
    border: 1px solid #bbbbbb!important;
    border-radius: 5px;
    margin-bottom: 7px;
    padding-left: 0;
  }
  .select-icon {
    display: none;
  }
  
  .text-input {
    color: #586775;
    margin: 11px 0px 11px 0;
    padding: 0;
    width: 100%;
    padding-left: 7px;
  }
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #8a8b8b!important;
  }
  textarea.text-input {
    height: 95px;
  }
}
  