<ion-header>
  <ion-navbar no-border-top no-border-bottom>
    <ion-buttons item-start>
      <button ion-button icon-only menuToggle>
        <ion-icon class="ion-md-menu" color="menu-bar"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center color="white">Contact Us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="contact">
  <h2 class="contact__head">Get in touch if you need help with a project</h2>
  <div class="contact__offices">
    <div class="contact__office">
      <div class="contact__map">
        <span class="fourpl-map-marker"></span>
      </div>
      <div class="contact__content">
        <h4>Hyderabad (Head Office)</h4>
        <p>Fourth Partner House, Plot No: N46, House No: 4-9-10, (1st Left after HMT Nagar Arch), HMT Nagar
          <b>PH: +91-40-64631123</b>
        </p>
      </div>
    </div>

    <div class="contact__office">
      <div class="contact__map">
        <span class="fourpl-map-marker"></span>
      </div>
      <div class="contact__content">
        <h4>Delhi-NCR</h4>
        <p>DLF Phase II , Basement M13/12, Gurgaon -122002,Haryana
          <b>PH: +91-0124-4296347,<br> Email: delhi.office@fourthpartner.co</b>
        </p>
      </div>
    </div>

    <div class="contact__office">
      <div class="contact__map">
        <span class="fourpl-map-marker"></span>
      </div>
      <div class="contact__content">
        <h4>Pune</h4>
        <p>#303, West Wing, Aurora Towers, 9, Moledina Road, Pune 411 001.
          <b>PH: +91-20-6602 0178,<br> Email: pune.office@fourthpartner.co</b>
        </p>
      </div>
    </div>

    <div class="contact__office">
      <div class="contact__map">
        <span class="fourpl-map-marker"></span>
      </div>
      <div class="contact__content">
        <h4>Chennai</h4>
        <p>42 Veerappa Nagar, Behind Mega Mart, Valsaravakkam, Chennai-600087
          <b>Email: chennai.office@fourthpartner.co</b>
        </p>
      </div>
    </div>

    <div class="contact__office">
      <div class="contact__map">
        <span class="fourpl-map-marker"></span>
      </div>
      <div class="contact__content">
        <h4>Jaipur</h4>
        <p>Plot no.C44, Jamnanagar, Street no.1,Near Kabara Hospital, Behind Rathi Petrol Pump,Sodala, Jaipur – 302006</p>
      </div>
    </div>

  </div>
  <div class="contact__form">
    <form [formGroup]="contactForm" (ngSubmit)="send(contactForm.value, contactForm.valid)">
      <ion-item class="contact__input" no-padding no-lines>
        <ion-input type="text" formControlName="name" placeholder="Name"></ion-input>
      </ion-item>
      <ng-container *ngIf="contactForm.get('name').touched">
        <p class="show-error" *ngIf="contactForm.get('name').hasError('required')">
          This is a required field.
        </p>
        <p class="show-error" *ngIf="contactForm.get('name').hasError('minlength')">
          Please enter atleast 2 characters.
        </p>
      </ng-container>
      <p *ngIf="contactForm.get('name').hasError('server')" class="show-error">{{contactForm.get('name').getError('server')}}</p>

      <ion-item class="contact__input" no-padding no-lines>
        <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
      </ion-item>
      <ng-container *ngIf="contactForm.get('email').touched">
        <p class="show-error" *ngIf="contactForm.get('email').hasError('required')">
          This is a required field.
        </p>
        <p class="show-error" *ngIf="contactForm.get('email').hasError('pattern')">
          Please enter valid email address.
        </p>
      </ng-container>
      <p *ngIf="contactForm.get('email').hasError('server')" class="show-error">{{contactForm.get('email').getError('server')}}</p>

      <ion-item class="contact__input" no-padding no-lines>
        <ion-input type="text" formControlName="company" placeholder="Company"></ion-input>
      </ion-item>

      <ion-item class="contact__input" no-padding no-lines>
        <ion-input type="text" formControlName="designation" placeholder="Designation"></ion-input>
      </ion-item>

      <ion-item class="contact__input" no-padding no-lines>
        <ion-input type="text" formControlName="reason" placeholder="Reason"></ion-input>
      </ion-item>
      <ng-container *ngIf="contactForm.get('reason').touched">
        <p class="show-error" *ngIf="contactForm.get('reason').hasError('required')">
          This is a required field.
        </p>
      </ng-container>
      <p *ngIf="contactForm.get('reason').hasError('server')" class="show-error">{{contactForm.get('reason').getError('server')}}</p>

      <ion-item class="contact__input">
        <ion-textarea placeholder="Message" formControlName="message" no-lines></ion-textarea>
      </ion-item>
      <ng-container *ngIf="contactForm.get('message').touched">
        <p class="show-error" *ngIf="contactForm.get('message').hasError('required')">
          This is a required field.
        </p>
      </ng-container>
      <p *ngIf="contactForm.get('message').hasError('server')" class="show-error">{{contactForm.get('message').getError('server')}}</p>

      <button ion-button full color="blue-btn" [disabled]="contactForm.invalid">
        <ion-icon class="ion-ios-send"></ion-icon> Send
      </button>
    </form>
  </div>
</ion-content>
