page-home {
  .scroll-content {
    background-color: map-get($colors, common-bg);
    padding: 65px/$divider 50px/$divider 65px/$divider;
  }
}

.home {
  ion-card {
    padding: 65px/$divider 55px/$divider;
  }
  ion-navbar {
    ion-icon {
      color: map-get($colors, menu-bar);
    }
  }
}

.homeSingle {
  .alert-head {
    background-color:  map-get($colors, whiter);
    padding: 15px 30px 15px 15px;;
  }
  .alert-title {
    font-family: Montserrat, sans-serif;
    font-size: 48px/$divider;
    font-weight: 500;
    color: map-get($colors, intial-text);
    text-align: center;
  }
  .alert-wrapper {
    max-width: 90%;
    .alert-message {
      padding: 20px 16px;
      line-height: 1.6;
      font-size: 15px;
      color: map-get($colors, font-text);
      max-height: none;
      text-align: left;

      i {
        font-size: 80%;
        opacity: 0.5;
      }
    }
  }
}

.completion {
  font-family: Montserrat, sans-serif;
  .project-name {
    background-color: #02b8e1;
    padding: 0.4rem 1rem;
    font-size: 36px/$divider;
    font-weight: 500;
    border-radius: 5rem;
  }
}

.notification-btn {
  background-color: map-get($colors, blue);
}
