<ion-header class="fp-header">
  <ion-navbar no-border-top no-border-bottom>
    <ion-buttons item-start>
      <button ion-button icon-only menuToggle>
        <ion-icon class="ion-md-menu" color="menu-bar"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Project Execution</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <img src="assets/imgs/logo.svg" alt="logo">
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-item class="completion item-no-border">
    <ion-badge class="project-name" item-start>{{project?.name}}</ion-badge>
    <ion-badge item-end>{{completion}}%</ion-badge>
  </ion-item>
</ion-header>

<ion-content class="home">
  <ion-refresher (ionRefresh)="refreshStages($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="stages">
    <ion-card *ngIf="stages">
      <lists (click)="presentProposalModal(i)" [listItems]="item" *ngFor="let item of stages; let i = index"></lists>
    </ion-card>
  </ng-container>
</ion-content>
<alerts-fab></alerts-fab>
<discussions-fab></discussions-fab>
