lists {
  display: block;
  .ion-ios-checkmark-circle {
    font-size: 65px/$divider;
    color: map-get($colors, green);
  }
  .ion-ios-information-circle-outline {
    font-size: 42px/$divider;
    font-weight: 600;
    margin-top: 0;
  }
  .ion-ios-radio-button-on {
    font-size: 95px/$divider;
  }
  .ion-md-radio-button-off {
    font-size: 65px/$divider;
    color: map-get($colors, grey);
    background-color: #fff;
  }
  ion-icon {
    margin-top: 0;
    vertical-align: super;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:last-of-type .lists__single {
    padding-bottom: 0;
  }
}

.lists {
  position: relative;
  // display: flex;
  // width: 100%;
  h2 {
    font-family: Montserrat, sans-serif;
    font-size: 40px/$divider;
    color: map-get($colors, dark-text);
    margin: 0;
  }
  p {
    font-size: 13px;
    color: map-get($colors, dark-black);
    margin-top: 5px;
    margin-bottom: 0;
  }
  &__single {
    padding-bottom: 85px/$divider;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-left: 1px;
    width: 100%;
  }

  .lists__single:first-child .lists__single:last-child .lists__border {
    display: none;
  }
  &__status {
    // display: inline-block;
    // height: 30px;
    // width: 30px;
    // text-align: center;
    position: relative;
    z-index: 9;
    width: 38px;
    text-align: center;
    background: map-get($colors, white);
    flex-shrink: 0;
    
    &:before {
      content: '';
      // border: 1px solid red;
      // border: 1px dashed map-get($colors, dash-border);
      // height: 100%;
      // position: absolute;
      // top: 100%;
      // width: 1px;
      // background-color: red;
      // z-index: 1;
      // left: 50%;
      // transform: translateX(-50%);
    }
  }
  .border,
  &__border {
    height: 100%;
    position: absolute;
    width: 2px;
    background-color: map-get($colors, border-stages);
    z-index: 1;
    left: 19px;
    top: 0;
    // width: 38px;
    // transform: translateX(-50%);
  }
  // &__border {
  //   height: 100%;
  //   position: absolute;
  //   top: 100%;
  //   width: 2px;
  //   background-color: map-get($colors, dash-border);
  //   z-index: 1;
  //   left: 19px;
  //   top: 0;
  // }
  &__text {
    margin-left: 10px;
    width: calc(100% - 70px);
    // display: inline-block;
    // width: 80%;
    h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: map-get($colors, intial-text);
      &.light-text {
        color: map-get($colors, dis-font);
      }

      .date-display {
        margin-top: 8px;
        span {
          position: relative;
          display: inline-block;
          font-size: 12px;
          padding: 4px;
          border-radius: 4px;
          background: #e1e4e9;
          color: #5e656d;
          &:before {
            content: '';
            position: absolute;
            height: 0;
            border-style: solid;
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent #e1e4e9 transparent;
            bottom: 100%;
            left: 20px;
          }
        }
      }
    }
  }
  &__exclamation {
    // display: inline-block;
    // text-align: right;
    width: 20px;
    flex-shrink: 0;
  }
  &__icon-text {
    position: absolute;
    font-size: 37px/$divider;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    &.light-text {
      color: map-get($colors, dis-font);
    }
  }
  &__execution {
    padding-bottom: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    p {
      font-family: Montserrat, sans-serif;
      font-size: 50px/$divider;
      color: map-get($colors, intial-text);
      margin-top: 75px/$divider;
      margin-bottom: 60px/$divider;
    }
    button {
      background-color: #414141;
      padding: 40px/$divider 105px/$divider;
      font-size: 48px/$divider;
      font-weight: 500;
      border-radius: 8px;
    }
  } // ------------------------style for progress wheel-------------------------
  .component {
    position: relative;
    margin-bottom: 130px;
    height: 100px;
    font-family: 'Lato', Arial, sans-serif;
  }
  .cn-button {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 11;
    margin-top: -5em;
    margin-left: -5em;
    padding: 0;
    width: 10em;
    height: 10em;
    border: none;
    border-radius: 50%;
    background: none;
    background-color: #fff;
    color: #324856;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px/$divider!important;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    border: 5px solid #ebebeb;
    span {
      font-size: 100px/$divider;
      margin-top: 40px/$divider;
    }
  }
  &__cn-head {
    border: 5px solid #ebebeb;
  }
  .csstransforms .cn-wrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 10;
    margin-top: -13em;
    margin-left: -13.5em;
    width: 27em;
    height: 27em;
    border-radius: 50%;
    background: transparent;
    opacity: 0;
    -webkit-transition: all .3s ease 0.3s;
    -moz-transition: all .3s ease 0.3s;
    transition: all .3s ease 0.3s;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -moz-transform: scale(0.1);
    transform: scale(0.1);
    pointer-events: none;
    overflow: hidden;
    border: 3px solid #f0f0f0;
  }
  /*cover to prevent extra space of anchors from being clickable*/
  .csstransforms .cn-wrapper:after {
    content: ".";
    display: block;
    font-size: 2em;
    width: 6.2em;
    height: 6.2em;
    position: absolute;
    left: 50%;
    margin-left: -3.1em;
    top: 50%;
    margin-top: -3.1em;
    border-radius: 50%;
    z-index: 10;
    color: transparent;
  }
  .csstransforms .opened-nav {
    border-radius: 50%;
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    pointer-events: auto;
  }
  .cn-wrapper ul {
    position: relative;
    list-style: none;
    margin: 0;
  }
  .csstransforms .cn-wrapper li {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-top: -1.3em;
    margin-left: -10em;
    width: 10em;
    height: 10em;
    font-size: 1.5em;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: rotate(60deg) skew(60deg);
    -moz-transform: rotate(60deg) skew(60deg);
    -ms-transform: rotate(60deg) skew(60deg);
    transform: rotate(60deg) skew(60deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    pointer-events: none;
  }
  .csstransforms .cn-wrapper li a {
    position: absolute;
    right: -7.25em;
    bottom: -7.25em;
    display: block;
    width: 14.5em;
    height: 14.5em;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #429a67;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 2;
    -webkit-transform: skew(-30deg) rotate(-60deg) scale(1);
    -moz-transform: skew(-30deg) rotate(-60deg) scale(1);
    -ms-transform: skew(-30deg) rotate(-60deg) scale(1);
    transform: skew(-31deg) rotate(-60deg) scale(1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: auto;
  }
  .csstransforms .opened-nav li a {
    background: -webkit-radial-gradient(transparent 0, #ea973f 0);
    background: -moz-radial-gradient(transparent 0, #ea973f 0);
    background: radial-gradient(transparent 0, #ea973f 0);
  }
  .csstransforms .cn-wrapper li a span {
    position: relative;
    top: 1.8em;
    display: block;
    font-size: .5em;
    font-weight: 700;
    text-transform: uppercase;
  }
  .csstransforms .cn-wrapper li a:hover,
  .csstransforms .cn-wrapper li a:active,
  .csstransforms .cn-wrapper li a:focus {
    opacity: 0.8;
  }
  .csstransforms .cn-wrapper li a:focus {
    position: fixed;
    /* fix the displacement bug in webkit browsers when using tab key */
  }
  .csstransforms .opened-nav li {
    -webkit-transition: all .3s ease .3s;
    -moz-transition: all .3s ease .3s;
    transition: all .3s ease .3s;
  }
  .csstransforms .opened-nav li:first-child {
    transform: rotate(0deg) skew(61deg);
  }
  .csstransforms .opened-nav li:nth-child(2) {
    transform: rotate(30deg) skew(61deg);
  }
  .csstransforms .opened-nav li:nth-child(3) {
    transform: rotate(60deg) skew(61deg);
  }
  .csstransforms .opened-nav li:nth-child(4) {
    transform: rotate(90deg) skew(61deg);
  }
  .csstransforms .opened-nav li:nth-child(5) {
    transform: rotate(120deg) skew(61deg);
  }
  .csstransforms .opened-nav li:nth-child(6) {
    transform: rotate(150deg) skew(61deg);
  }
  .csstransforms .opened-nav li:nth-child(7) {
    transform: rotate(180deg) skew(61deg);
  }
  .csstransforms .opened-nav li:nth-child(8) {
    transform: rotate(210deg) skew(61deg);
  }
  .csstransforms .opened-nav li:nth-child(9) {
    transform: rotate(240deg) skew(61deg);
  }
  .csstransforms .opened-nav li:nth-child(10) {
    transform: rotate(270deg) skew(61deg);
  }
  .csstransforms .opened-nav li:nth-child(11) {
    transform: rotate(300deg) skew(61deg);
  }
  .csstransforms .opened-nav li:nth-child(12) {
    transform: rotate(330deg) skew(61deg);
  }
  .csstransforms .opened-nav li:nth-child(13) {
    transform: rotate(360deg) skew(61deg);
  }
  .no-csstransforms .cn-wrapper {
    overflow: hidden;
    margin: 10em auto;
    padding: .5em;
    text-align: center;
  }
  .no-csstransforms .cn-wrapper ul {
    display: inline-block;
  }
  .no-csstransforms .cn-wrapper li {
    float: left;
    width: 5em;
    height: 5em;
    background-color: #fff;
    text-align: center;
    font-size: 1em;
    line-height: 5em;
  }
  .no-csstransforms .cn-wrapper li a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
  }
  .no-csstransforms .cn-wrapper li a:hover,
  .no-csstransforms .cn-wrapper li a:active,
  .no-csstransforms .cn-wrapper li a:focus {
    background-color: #f8f8f8;
  }
  .no-csstransforms .cn-wrapper li.active a {
    background-color: #6F325C;
    color: #fff;
  }
  .no-csstransforms .cn-button {
    display: none;
  }
  @media only screen and (max-width: 620px) {
    .no-csstransforms li {
      width: 4em;
      height: 4em;
      line-height: 4em;
    }
  }
  @media only screen and (max-width: 500px) {
    .no-ccstransforms .cn-wrapper {
      padding: .5em;
    }
    .no-csstransforms .cn-wrapper li {
      width: 4em;
      height: 4em;
      font-size: .9em;
      line-height: 4em;
    }
  }
  @media only screen and (max-width: 480px) {
    .csstransforms .cn-wrapper {
      font-size: .68em;
    }
    .cn-button {
      font-size: 1em;
    }
  }
  @media only screen and (max-width:420px) {
    .no-csstransforms .cn-wrapper li {
      width: 100%;
      height: 3em;
      line-height: 3em;
    }
  }
  &__progress-icon {
    height: 70px/$divider;
    width: 70px/$divider;
    border-radius: 50%;
    background-color: #5ca560;
    ion-icon {
      color: #fff;
    }
  }
}

lists:last-child .lists__single-parent {
  position: relative;
  z-index: 9;
  background-color: map-get($colors, white);
}
