<div class="lists">
  <div [ngClass]="{'lists__border': !listItems?.children}"></div>
  <div class="lists__single-parent">
    <div class="lists__single">
      <div class="lists__status">
        <ion-icon class="ion-md-radio-button-off" item-start *ngIf="listItems?.status === 0">
          <span class="lists__icon-text light-text">{{listItems?.children?.length}}</span>
        </ion-icon>
        <ion-icon name="ios-checkmark-circle" item-start color="green" *ngIf="listItems?.status === 2">
        </ion-icon>

        <ion-icon class="ion-ios-radio-button-on" item-start color="orange" *ngIf="listItems?.status === 1">
          <span class="lists__icon-text">{{listItems?.children?.length}}</span>
        </ion-icon>
      </div>

      <div class="lists__text" text-wrap>
        <h2 *ngIf="(listItems?.status === 1) || (listItems?.status === 2)">
          {{ listItems?.name }}
          <div class="date-display">
            <span>{{ listItems?.updated_at | amDateFormat:'LL' }}</span>
          </div>
        </h2>
        <h2 class="light-text" *ngIf="listItems?.status === 0">{{ listItems?.name }}</h2>
      </div>
      <div class="lists__exclamation" float-right>
        <div *ngIf="listItems?.status === 0">
          <ion-icon color="dis-exclamation" class="ion-ios-information-circle-outline" item-end></ion-icon>
        </div>
        <div *ngIf="listItems?.status === 1 || listItems?.status === 2">
          <ion-icon color="exclamation" class="ion-ios-information-circle-outline" item-end></ion-icon>
        </div>
      </div>
    </div>

    <ng-container *ngIf="listItems.children && listItems.children.length">
      <div class="lists__execution" [sub-stages]="listItems.children">
      </div>
    </ng-container>
  </div>
</div>
