page-settings {
  .scroll-content {
    background-color: map-get($colors, common-bg);
    padding: 40px/$divider 50px/$divider 50px/$divider;
  }
}
.settings {
  ion-card {
    padding: 40px/$divider;
    background-color: map-get($colors, white);
  }
  &__profile-details {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__options {
    font-family: Montserrat, sans-serif;
    font-size: 40px/$divider;
    display: flex;
    justify-content: center;
  }
  &__btn {
    padding-top: 45px/$divider;
    padding-bottom: 45px/$divider;
    background-color: #fea444!important;
    width: 50%;
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 40px/$divider;
    border-radius: 6px;
  }
  &__left--btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__right--btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .selected {
    background-color: #ee891d!important;
  }
  &__profile {
    margin-top: 70px/$divider;
  }
  &__profile-content {
    margin-top: 8px;
    margin-left: 75px/$divider;
    p {
      font-family: Montserrat, sans-serif;
      font-size: 36px/$divider;
      color: map-get($colors, profile-text);
      margin-top: 0;
      margin-bottom: 13px;
    }
    h3  {
      font-family: Montserrat, sans-serif;
      font-size: 50px/$divider;
      color: map-get($colors, intial-text);
      margin: 0;
    }
  }
  &__profile-icon {
    ion-icon {
      font-size: 40px;
      color: map-get($colors, profile-text);
    }
  }

  // security
  &__security {
    margin-top: 60px/$divider;
  }
  &__security-input {
    margin-bottom: 50px/$divider;
  }
  &__security-icon {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  &__security-input {
    border-bottom: 1px solid #bdbdbd;
    font-family: Montserrat, sans-serif;
    font-size: 36px/$divider;
    color: map-get($colors, profile-text);
  }
}