<ion-header class="fp-header">
  <ion-navbar no-border-top no-border-bottom>
    <ion-buttons item-start>
      <button ion-button icon-only menuToggle>
        <ion-icon class="ion-md-menu" color="menu-bar"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Settings</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <img src="assets/imgs/logo.svg" alt="logo">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="settings">
  <ion-card>
    <div class="settings__options">
      <button ion-button class="settings__btn settings__left--btn" (click)="tab = 'profile'" [class.selected]="tab === 'profile'">
        Profile</button>
      <button ion-button class="settings__btn settings__right--btn" (click)="tab = 'security'" [class.selected]="tab === 'security'">
        Security</button>
    </div>
    <!-- profile section -->
    <div class="settings__profile" *ngIf="tab === 'profile'">
      <div class="settings__profile-details" *ngIf="user?.name">
        <div class="settings__profile-icon">
          <ion-icon class="ion-ios-contact-outline"></ion-icon>
        </div>
        <div class="settings__profile-content">
          <p>Name</p>
          <h3>{{user?.name}}</h3>
        </div>
      </div>

      <div class="settings__profile-details" *ngIf="user?.project?.name">
        <div class="settings__profile-icon">
          <ion-icon class="ion-ios-home-outline"></ion-icon>
        </div>
        <div class="settings__profile-content">
          <p>Project</p>
          <h3>{{user?.project?.name}}</h3>
        </div>
      </div>

      <div class="settings__profile-details" *ngIf="user?.designation">
        <div class="settings__profile-icon">
          <ion-icon class="ion-ios-contact-outline"></ion-icon>
        </div>
        <div class="settings__profile-content">
          <p>Designation</p>
          <h3>{{user?.designation}}</h3>
        </div>
      </div>

      <div class="settings__profile-details" *ngIf="user?.email">
        <div class="settings__profile-icon">
          <ion-icon class="ion-ios-mail-outline"></ion-icon>
        </div>
        <div class="settings__profile-content">
          <p>Email</p>
          <h3>{{user?.email}}</h3>
        </div>
      </div>

      <div class="settings__profile-details" *ngIf="user?.mobile">
        <div class="settings__profile-icon">
          <ion-icon class="ion-ios-call-outline"></ion-icon>
        </div>
        <div class="settings__profile-content">
          <p>Phone</p>
          <h3>{{user?.mobile}}</h3>
        </div>
      </div>
      <button ion-button full class="full-button" color="btn-red" (click)="logOut()">
        <ion-icon class="ion-ios-power"></ion-icon>&nbsp; Log out
      </button>
    </div>

    <!-- security section -->
    <div class="settings__security" *ngIf="tab === 'security'">
      <form [formGroup]="passwordForm" (ngSubmit)="changePass(passwordForm.value, passwordForm.valid)">
        <ion-item class="settings__security-input" no-padding>
          <ion-input type="password" formControlName="old_password" placeholder="Old Password" required clearInput></ion-input>
          <ion-icon item-left class="ion-ios-lock-outline" color="profile-text"></ion-icon>
        </ion-item>
        <p *ngIf="!passwordForm.get('old_password').valid && passwordForm.get('old_password').touched" class="show-error">Password must be more than five characters.</p>

        <ion-item class="settings__security-input" no-padding>
          <ion-input type="password" formControlName="new_password" placeholder="New Password" required clearInput></ion-input>
          <ion-icon item-left class="ion-ios-lock-outline" color="profile-text"></ion-icon>
        </ion-item>
        <p *ngIf="!passwordForm.get('new_password').valid && passwordForm.get('new_password').touched" class="show-error">Password must be more than five characters.</p>

        <ion-item class="settings__security-input" no-padding>
          <ion-input type="password" formControlName="new_password_confirmation" placeholder="Confirm Password" required clearInput></ion-input>
          <ion-icon item-left class="ion-ios-lock-outline" color="profile-text"></ion-icon>
        </ion-item>

        <p *ngIf="passwordForm.get('new_password').touched && passwordForm.get('new_password_confirmation').touched && passwordForm.hasError('mismatch')" class="show-error">Confirm Password is not same as the new password.</p>

        <button ion-button full class="full-button" color="fade-blue">Submit</button>
      </form>
    </div>
  </ion-card>
</ion-content>
<alerts-fab></alerts-fab>
