// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
$icomoon-font-path: "../assets/fonts";
@import "./fourth-icons/style.scss";
@import "./utilities/_utilities";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


$divider: 2.50;
$toolbar-ios-height: 60px;
$toolbar-ios-background: #fff;
// $font-size-base: 3rem/$divider!default;
$font-size-base: 1.4rem!default;
$font-size-ios-base: $font-size-base;
$toolbar-border-color: #fff;
// $menu-width: 40px;
$menu-ios-box-shadow-color:  rgba(135,143,152,1) !default;
$text-input-placeholder-color: #8a8b8b;
$toolbar-background: #ffffff;
$montserrat: 'Montserrat', sans-serif;





// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.





// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// $navbar-ios-height: $toolbar-ios-height!default;
// $toolbar-button-ios-strong-font-weight: 600;
  $menu-ios-box-shadow: 20px 10px 59px -8px $menu-ios-box-shadow-color !default;
  $card-ios-border-radius: 8px;
  $card-ios-background-color: #fff;
  $toolbar-ios-title-text-color: #324856;
  $toolbar-ios-title-padding-end: 20px;
  $toolbar-ios-title-padding-end: 20px;
  $datetime-ios-padding-left: 2px; 
  $datetime-ios-padding-right: 2px;
  $datetime-ios-placeholder-color: #ececec!default;
  $picker-ios-button-text-color: map-get($colors, blue);
  $datetime-ios-padding-top: 50px/$divider!default;
  $datetime-ios-padding-bottom: 40px/$divider!default;
  $picker-ios-toolbar-height: 58px;
  $alert-ios-border-radius: 6px;
  $alert-ios-checkbox-background-color-on: map-get($colors, fade-blue);
  $alert-ios-checkbox-border-color-on: map-get($colors, fade-blue);
  $alert-ios-title-font-size: 60px/$divider;
  $alert-ios-background: map-get($colors, white);
  $alert-ios-head-text-align: left!default;
  $alert-ios-checkbox-label-text-color: map-get($colors, intial-text);
  $alert-ios-head-padding-bottom: 50px/$divider!default;
  $alert-ios-head-padding-top: 50px/$divider!default;
  $alert-ios-head-padding-start: 50px/$divider!default; 
  $alert-ios-checkbox-size: 70px/$divider;
  $select-ios-placeholder-color: map-get($colors, placeholder);
  $toolbar-ios-title-text-align: center;

  // $radio-ios-color-on: map-get($colors, primary)!default;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// $navbar-ios-height: $toolbar-ios-height!default;
// $toolbar-button-md-strong-font-weight: 600;
  $menu-md-box-shadow: 20px 10px 59px -8px $menu-ios-box-shadow-color;
  $card-md-border-radius: 8px;
  $card-md-background-color: #fff;
  $toolbar-md-title-text-color: #324856;
  $toolbar-md-title-padding-end: 20px;
  $toolbar-md-title-padding-end: 20px;
  $datetime-md-padding-left: 2px; 
  $datetime-md-padding-right: 2px;
  $picker-md-option-selected-color: map-get($colors, $key: date);
  $picker-md-button-text-color: map-get($colors, blue);
  $datetime-md-placeholder-color: #ececec!default;
  $datetime-md-padding-top: 50px/$divider!default;
  $datetime-md-padding-bottom: 40px/$divider!default;
  $alert-md-border-radius: 6px;
  $alert-md-title-font-size: 60px/$divider;  
  $alert-md-background: map-get($colors, white);  
  $alert-md-head-text-align: left!default;
  $alert-md-checkbox-label-text-color: map-get($colors, intial-text);
  $select-md-placeholder-color: map-get($colors, placeholder);  
  $toolbar-md-title-text-align: center;  
  


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
  $menu-md-box-shadow: 20px 10px 59px -8px $menu-ios-box-shadow-color;
  $toolbar-wp-title-text-color: #324856;
  $toolbar-wp-title-padding-end: 20px;
  $toolbar-wp-title-padding-end: 20px;
  $datetime-wp-padding-left: 2px; 
  $datetime-wp-padding-right: 2px;
  $picker-wp-button-text-color: map-get($colors, blue);
  $datetime-wp-placeholder-color: #ececec!default;
  $datetime-wp-padding-top: 50px/$divider!default;
  $datetime-wp-padding-bottom: 40px/$divider!default;
  $alert-wp-border-radius: 6px;
  $alert-wp-title-font-size: 60px/$divider;
  $alert-wp-title-font-size: 60px/$divider;
  $alert-wp-background: map-get($colors, white);
  $alert-wp-head-text-align: left!default;
  $alert-wp-checkbox-label-text-color: map-get($colors, intial-text);
  $select-wp-placeholder-color: map-get($colors, placeholder);
  $toolbar-wp-title-text-align: center;
  
  



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import "fp-header";

.ion-icon {
  display: inline-block;
  font-family: "Ionicons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  text-transform: none;
  speak: none;
}