@import "variables";

@font-face {
  font-family: 'fourpl';
  src:
    url('#{$icomoon-font-path}/fourpl.ttf?jbz3rf') format('truetype'),
    url('#{$icomoon-font-path}/fourpl.woff?jbz3rf') format('woff'),
    url('#{$icomoon-font-path}/fourpl.svg?jbz3rf#fourpl') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fourpl-"], [class*=" fourpl-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fourpl' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.fourpl-linegraph4 {
  &:before {
    content: unicode($fourpl-linegraph4); 
  }
}
.fourpl-recycling-arrows {
  &:before {
    content: unicode($fourpl-recycling-arrows); 
  }
}
.fourpl-recycling-triangle {
  &:before {
    content: unicode($fourpl-recycling-triangle); 
  }
}
.fourpl-folder2 {
  &:before {
    content: unicode($fourpl-folder2); 
  }
}
.fourpl-bargraph2 {
  &:before {
    content: unicode($fourpl-bargraph2); 
  }
}
.fourpl-linegraph3 {
  &:before {
    content: unicode($fourpl-linegraph3); 
  }
}
.fourpl-linegraph1 {
  &:before {
    content: unicode($fourpl-linegraph1); 
  }
}
.fourpl-linegraph2 {
  &:before {
    content: unicode($fourpl-linegraph2); 
  }
}
.fourpl-bargraph1 {
  &:before {
    content: unicode($fourpl-bargraph1); 
  }
}
.fourpl-sales {
  &:before {
    content: unicode($fourpl-sales); 
  }
}
.fourpl-funds {
  &:before {
    content: unicode($fourpl-funds); 
  }
}
.fourpl-pay-for-energy {
  &:before {
    content: unicode($fourpl-pay-for-energy); 
  }
}
.fourpl-payment {
  &:before {
    content: unicode($fourpl-payment); 
  }
}
.fourpl-solar {
  &:before {
    content: unicode($fourpl-solar); 
  }
}
.fourpl-tick {
  &:before {
    content: unicode($fourpl-tick); 
  }
}
.fourpl-folder {
  &:before {
    content: unicode($fourpl-folder); 
  }
}
.fourpl-map-marker {
  &:before {
    content: unicode($fourpl-map-marker); 
  }
}
.fourpl-medical {
  &:before {
    content: unicode($fourpl-medical); 
  }
}
.fourpl-support {
  &:before {
    content: unicode($fourpl-support); 
  }
}
.fourpl-network {
  &:before {
    content: unicode($fourpl-network); 
  }
}
.fourpl-like {
  &:before {
    content: unicode($fourpl-like); 
  }
}
.fourpl-arrows {
  &:before {
    content: unicode($fourpl-arrows); 
  }
}
.fourpl-people {
  &:before {
    content: unicode($fourpl-people); 
  }
}
.fourpl-social {
  &:before {
    content: unicode($fourpl-social); 
  }
}
.fourpl-cogwheel {
  &:before {
    content: unicode($fourpl-cogwheel); 
  }
}
.fourpl-lock {
  &:before {
    content: unicode($fourpl-lock); 
  }
}
.fourpl-home {
  &:before {
    content: unicode($fourpl-home); 
  }
}
.fourpl-About-Solar {
  &:before {
    content: unicode($fourpl-About-Solar); 
  }
}
.fourpl-Portfolio {
  &:before {
    content: unicode($fourpl-Portfolio); 
  }
}
.fourpl-Contact {
  &:before {
    content: unicode($fourpl-Contact); 
  }
}
.fourpl-Welcome {
  &:before {
    content: unicode($fourpl-Welcome); 
  }
}

