$icomoon-font-path: "fonts" !default;

$fourpl-linegraph4: \e900;
$fourpl-recycling-arrows: \e901;
$fourpl-recycling-triangle: \e902;
$fourpl-folder2: \e903;
$fourpl-bargraph2: \e904;
$fourpl-linegraph3: \e905;
$fourpl-linegraph1: \e906;
$fourpl-linegraph2: \e907;
$fourpl-bargraph1: \e908;
$fourpl-sales: \e909;
$fourpl-funds: \e90a;
$fourpl-pay-for-energy: \e90b;
$fourpl-payment: \e90c;
$fourpl-solar: \e90d;
$fourpl-tick: \e90e;
$fourpl-folder: \e90f;
$fourpl-map-marker: \e910;
$fourpl-medical: \e911;
$fourpl-support: \e912;
$fourpl-network: \e913;
$fourpl-like: \e914;
$fourpl-arrows: \e915;
$fourpl-people: \e916;
$fourpl-social: \e917;
$fourpl-cogwheel: \e918;
$fourpl-lock: \e919;
$fourpl-home: \e91a;
$fourpl-About-Solar: \e91b;
$fourpl-Portfolio: \e91c;
$fourpl-Contact: \e91d;
$fourpl-Welcome: \e91e;

