<ion-header class="fp-header">
  <ion-navbar no-border-top no-border-bottom>
    <ion-buttons item-start>
      <button ion-button icon-only color="shadow" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Create Request</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <img src="assets/imgs/logo.svg" alt="logo">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="create-request" padding>
  <ion-card>
    <form [formGroup]="requestForm" (ngSubmit)="createRequest(requestForm.value)">
      <ion-item no-padding>
        <ion-label stacked>Enter request Title</ion-label>
        <ion-textarea formControlName="title"></ion-textarea>
        <p *ngIf="!requestForm.get('title').valid && requestForm.get('title').touched" class="show-error">Field is required.</p>
      </ion-item>
      <ion-item no-padding>
        <ion-label stacked>Enter request type</ion-label>
        <ion-select formControlName="service_request_type_id">
          <!-- <ion-option *ngFor="let val of reqselect" [value]="val"></ion-option> -->
          <ion-option [value]="type.id" *ngFor="let type of serviceType">{{type.description}}</ion-option>
          <!-- <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option> -->
        </ion-select>
        <p *ngIf="!requestForm.get('service_request_type_id').valid && requestForm.get('service_request_type_id').touched" class="show-error">Field is required.</p>
      </ion-item>
      <button ion-button type="submit" float-right [disabled]="!requestForm.valid">Submit</button>
    </form>
  </ion-card>
</ion-content>