page-create-service-request {
  .scroll-content {
    background: #e9edf3;
  }
  .button {
    margin-top: 20px;
  }
  ion-header {
    ion-icon {
      font-size: 40px;
    }
  }
  .close {
    text-align: center;
  }
  ion-card {
    padding: 20px; 
  }
  .item {
    border-bottom: 1px solid map-get($colors, border);
  }
  .toolbar {
    ion-icon {
      font-weight: 600;
      margin-left: 7px!important;
    }
  }
  
}
