user-avatar {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: map-get($colors, orange-btn);
  font-size: 25px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-family: $montserrat;
  &.client {
    background-color: map-get($colors, orange-btn);
  }
  &.staff {
    background-color: map-get($colors, circle--blue);
  }
}
