<ion-menu [content]="content" id="menu" no-borde type="overlay" (ionClose)="showSalesNav = false">
  <ion-header no-border>

  </ion-header>

  <ion-content class="main-menu">
    <div class="main-menu__logo">
      <div>
        <img src="assets/imgs/colorful-logo.svg" alt="logo">
      </div>
    </div>
    <div *ngIf="isLoggedIn" class="menu-project-bar">
      <project></project>
    </div>
    <div *ngFor="let p of pages">
      <button no-padding detail-none menuClose no-lines ion-item [class.activated]="checkActive(p)" *ngIf="p.isLoggedInPage === isLoggedIn && !p.projectStatus === hasStatusOpen" (click)="openPage(p)">
        <div class="main-menu__menu-items">
          <div class="main-menu__icon-border">
            <span class="{{p.icon}}" item-left></span>
          </div>
          <div class="main-menu__title">
            {{p.title}}
          </div>
        </div>
      </button>
    </div>

    <button no-padding detail-none no-lines ion-item (click)="showSalesNav = !showSalesNav" *ngIf="isLoggedIn">
      <div class="main-menu__menu-items">
        <div class="main-menu__icon-border">
          <span class="fourpl-sales" item-left></span>
        </div>
        <div class="main-menu__title">
          SALES
        </div>
      </div>
    </button>

    <div class="logged-sales-menu" *ngIf="showSalesNav && isLoggedIn">
      <div *ngFor="let p of salesNav">
        <button no-padding detail-none menuClose no-lines ion-item [class.activated]="checkActive(p)" (click)="openPage(p)">
          <div class="main-menu__menu-items">
            <div class="main-menu__icon-border">
              <span class="{{p.icon}}" item-left></span>
            </div>
            <div class="main-menu__title">
              {{p.title}}
            </div>
          </div>
        </button>
      </div>
    </div>

    <button no-padding detail-none menuClose no-lines ion-item (click)="loggedOut()" *ngIf="isLoggedIn">
      <div class="main-menu__menu-items">
        <div class="main-menu__icon-border">
          <span class="fourpl-arrows" item-left></span>
        </div>
        <div class="main-menu__title">
          LOG OUT
        </div>
      </div>
    </button>
  </ion-content>

  <ion-footer class="menu-footer">
    Version: 0.4.0
  </ion-footer>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
