// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Montserrat');

ion-card {
  width: 100%!important;
  margin: 0!important;
}
ion-header {
  img {
    height: 25px;
    padding-right: 10px;
  }
  .ion-menu {
    font-size: 50px;
    color: map-get($colors, menu-bar)
  }
}
.toolbar-ios ion-title {
  padding: 0 50px 1px;
  font-family: Montserrat Regular, sans-serif;
}
// main menu style starts
.main-menu {
  background-image: url('../assets/imgs/menu-bg.png');
  .scroll-content {
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 25px;
    background-image: url('../assets/imgs/menu-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__logo {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    img {
      height: 80px;
    }
    p {
      text-transform: uppercase;
      line-height: 16px;
      margin-bottom: 0;
      font-weight: 500;
    }
  }
  .item {
    background-color: transparent;
  }
  &__blue {
    color: map-get($colors, blue-text);
  }
  &__black {
    color: map-get($colors, change-view);
  }
  &__orange {
    color: map-get($colors, options);
  }
  ion-toolbar {
    display: none;
  }
  &__icon-border {
    span {
      color: #576775;
      font-size: 25px;
      margin: 0 auto!important
    }
  }
  .bar-button {
    ion-icon {
      margin-top: 5px;
    }
  }
  ion-label {
    margin-bottom: 50px/$divider;
    margin-bottom: 20px;
    background-color: map-get($colors, white);
    border-radius: 5px;
    box-shadow: -1px 3px 11px 3px rgba(234,236,248,1);
    padding: 7px 15px;
  }
  .label {
    margin-bottom: 7px;
  }
  &__icon-border {
    min-width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #f4f5fc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  &__menu-items {
    display: flex;
    align-items: center;
  }
  &__title {
    padding-left: 15px;
    font-size: 40px/$divider;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: map-get($colors, menu-title);
  }
}


.back-button.show-back-button {
  color: map-get($colors, border);
}
.full-button {
  font-size: 48px/$divider;
  font-weight: 500;
  padding-bottom: 35px/$divider;
  padding-top: 35px/$divider;
  border-radius: 8px;
}
ion-datetime{position:relative !important;}
.picker-button {
  color: map-get($colors, blue);
}
.picker-toolbar {
  border-bottom: 1px solid #cecece!important;
}
.picker-above-highlight {
  border-bottom: 1px solid #a2a2a2!important;
}
.picker-below-highlight {
  border-bottom: 1px solid #a2a2a2!important;
}
.picker-button {
  font-family: Montserrat, sans-serif;
  font-size: 60px/$divider;
}
.picker-wrapper {
  font-family: Montserrat, sans-serif;
}
// for plant details graph view select
.alert-checkbox-group {
  border-top: 1px solid #ededed!important;
}
.alert-ios  h2.alert-title {
  color: #324856!important;
}
.alert-checkbox-label {
  font-family: Montserrat, sans-serif!important;
  font-size: 45px/$divider!important;
  color: #324856!important;
}
.alert-checkbox-group {
  padding-top: 18px;
  padding-bottom: 18px;
}
.alert-head {
  padding: 1.2rem 2rem !important;
  text-align: center !important;
}
.alert-title {
  font-size: 2rem !important;
}
// .alert-button-group {
//   display: none;
// }
.show-error {
  color: red!important;
  font-size: 12px!important;
  margin-top: 0!important;
  margin-bottom: 10px!important;
  text-align: left!important;
}
.activated {
  .main-menu__title,  {
    color: map-get($colors, active);
  }
  .main-menu__icon-border {
    span {
      color: map-get($colors, active);
    }
  }
}
.bar-buttons {
  ion-icon:before {
    position: relative;
    bottom: -1px;
  }
}
.toolbar-content {
  margin-right: 20px;
}

.menu-footer {
  padding: 5px;
  background-color: transparent;
  text-align: right;
}

.logged-sales-menu {
  margin-left: -15px;
  margin-bottom: 10px;
  padding: 10px 0;
  box-shadow: inset 0 -2px 4px 0 rgba(88, 103, 117, 0.5), inset 0 2px 4px 0 rgba(88, 103, 117, 0.5);
  > div {
    padding-left: 30px;
  }
}

.menu-project-bar {
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}
