<ion-item *ngIf="range" class="range-item">
  <ion-label class="range-item-label"> {{range.selected.value.lower}} - {{range.selected.value.upper}} kwh</ion-label>
  <ion-range [formControl]="range.selected" dualKnobs="true" [min]="range.min" [max]="range.max">
    <button ion-button clear range-left>{{range.min}}</button>
    <button ion-button clear range-right>{{range.max}} kwh</button>
  </ion-range>
</ion-item>

<div class="map" #viewMap></div>

<div class="plant-info" [class.close]="!selectedInstallation" (click)="close()">
  <button ion-button icon-only clear class="button-close">
    <ion-icon name="close"></ion-icon>
  </button>
  <h4>{{ selectedInstallation?.plantName }}</h4>
  <p>Plant Size: {{ selectedInstallation?.plantCapacity }} {{ selectedInstallation?.inverterEnergyCalculation }}</p>
  <p>Location: {{ selectedInstallation?.city }}, {{ selectedInstallation?.state }}</p>
  <p>Completion Date: {{ selectedInstallation?.commissioningDate | date }}</p>
</div>
