portfolio-installation {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  .map {
    flex: 1 0 auto;
  }
  .range-item {
    flex: 0 0 auto;
  }
}

.plant-info {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  background-color: #333;
  color: #fff;
  padding: 1.3rem;
  box-shadow: 0px 1px 2px 1px rgba(51, 51, 51, 0.8);
  border-radius: 2px;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;

  &.close {
    transform: translateY(calc(100% + 1rem));
  }

  h4 {
    margin-top: 0.2rem;
    font-weight: 600;
  }

  p {
    margin: .3rem 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  .button-close {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.range-item {
  padding-left: 0;
  .item-inner {
    padding-right: 0 !important;
    ion-range {
      padding: 0;
      [range-left] {
        margin-right: 1rem;
      }
      [range-right] {
        margin-left: 1rem;
      }
    }
  }
}

.range-item-label {
  margin: 0.5rem 1.5rem 0;
  font-size: 1.2rem;
  color: #404040;
}
