<ion-header class="fp-header">
  <ion-navbar no-border-top no-border-bottom>
    <ion-buttons item-start>
      <button ion-button icon-only menuToggle>
        <ion-icon class="ion-md-menu" color="menu-bar"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <img src="assets/imgs/logo.svg" alt="logo">
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- 
  <div class="unread" color="secondary">
    <span>You have total {{ alertData?.length || 0 }} unread messages</span>
  </div>
   -->
</ion-header>


<ion-content padding>
<ion-list>
  <div class="alert-cards" [ngClass]="alert.type === 'vaults' ? 'alert-vaults':'alert-stage'" *ngFor="let alert of alertData">
    <div class="alert-content" (click)="goToPage(alert.type, alert.id)">
      <span *ngIf="alert.type === 'vaults'" class="fourpl-folder2 alert-icon vault-icon"></span>
      <span *ngIf="alert.type === 'stage'" class="fourpl-linegraph3 alert-icon stage-icon"></span>
      <div>
      <span *ngIf="alert.type === 'vaults'"> {{alert?.title}} <strong>{{alert?.name}}</strong></span>
      <span *ngIf="alert.type === 'stage'"><strong>{{alert?.name}}</strong> {{alert?.title}}</span>
        <small><i>{{alert?.from}}</i> - {{alert?.updated_at | amFromUnix | amTimeAgo}}</small>
      </div>
    </div>
    <!--
    <div>
      <img class="info-icon" src="assets/imgs/info.png" alt="">
    </div>
    -->
  </div>
</ion-list>
</ion-content>
