page-alert {
  .unread {
    padding: 1rem 2rem;
    color: map-get($colors, white);
    background-color: map-get($colors, alert);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
  }
  .alert-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid #bbbbbb;
    border-radius: 5px;
    padding: 1.5rem;
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: map-get($colors, discussion-name);
    margin-bottom: 1rem;
    .alert-content {
      display: flex;
      align-items: center;
    }
    .alert-icon {
      max-width: 3.5rem;
      margin-right: 2rem;
      color: map-get($colors, white);
      padding: 1rem;
      border-radius: 50%;
      font-weight: 600;
      font-size: 1.5rem;
    }
    .info-icon {
      max-width: 2.2rem;
    }
    small {
      display: block;
      margin-top: 0.5rem;
    }
    .vault-icon {
      background-color: #00AF64;
    }
    .stage-icon {
      background-color: orange;
    }
  }
  .alert-vaults {
    background-color: #AEEAB5;
  }
  .alert-stage {
    background-color: #FFE8B8;
  }
}
