<ion-header>
  <ion-navbar no-border-top no-border-bottom>
    <ion-buttons item-start>
      <button ion-button icon-only menuToggle>
        <ion-icon class="ion-md-menu" color="blue-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only>
        <img src="assets/imgs/blue-logo.svg" alt="logo">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="welcome">
  <div padding-horizontal class="welcome--intro">
    <h2 class="welcome__head">who we are</h2>
    <p class="welcome__about-text">Fourth Partner Energy has been providing sustainable project execution for more than 7 years. Our team of
      over 125 members spread across 10 cities in India has executed over 1300 installations. We offer in-house
      end-to-end services in solar installations to assist our clients in Evaluation, Design, Planning, Procurement,
      Construction, Operation & Maintenance and Financing of critical solar infrastructure.</p>
  </div>

  <div class="welcome__about" padding-horizontal>
    <div class="welcome__two-tabs">
      <div class="welcome__about-tab welcome__orange--tab">
        <span class="fourpl-support"></span>
        <p>Project
          <br>Support</p>
      </div>
      <div class="welcome__about-tab welcome__blue--tab">
        <span class="fourpl-medical"></span>
        <p>Experience</p>
      </div>
    </div>

    <div class="welcome__two-tabs">
      <div class="welcome__about-tab welcome__blue--tab">
          <span class="fourpl-network"></span>
        <p>Customized
          <br>Solutions</p>
      </div>
      <div class="welcome__about-tab welcome__orange--tab">
        <img src="assets/imgs/like.png" alt="project-support">
        <p>Equality</p>
      </div>
    </div>
  </div>
  <div class="welcome__slider" padding-horizontal>
    <h3>what makes us the</h3>
    <h2>leading solar player</h2>
    <ion-slides spaceBetween="16" autoplay="500" loop="true" speed="800" slidesPerView="2" class="welcome__slide">
      <ion-slide>
        <img src="assets/imgs/player-01.png" alt="slide">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/player-02.png" alt="slide">
      </ion-slide>
      <ion-slide>
          <img src="assets/imgs/player-03.png" alt="slide">
      </ion-slide>
      <ion-slide>
          <img src="assets/imgs/player-04.png" alt="slide">
      </ion-slide>
    </ion-slides>
  </div>
  <div class="welcome__modal">
    <div class="welcome__modal-content" padding-horizontal>
      <div class="welcome__banks">
        <div class="welcome__banks--images">
          <img src="assets/imgs/icici.png" alt="partner-icon">
        </div>
        <div class="welcome__banks--images">
          <img src="assets/imgs/sbi.png" alt="partner-icon">
        </div>
        <div class="welcome__banks--images">
          <img src="assets/imgs/axis.png" alt="partner-icon">
        </div>
        <div class="welcome__banks--images">
          <img src="assets/imgs/oriental.png" alt="partner-icon">
        </div>
        <div class="welcome__banks--images">
          <img src="assets/imgs/indian-oil.png" alt="partner-icon">
        </div>
        <div class="welcome__banks--images">
          <img src="assets/imgs/black-logo.png" alt="partner-icon">
        </div>
      </div>
      <div class="welcome__modal-area">
        <ion-item-group>
          <ion-item-divider [ngClass]="(filter === 'OpexModel') ? 'active' : ''"  (click)="filter='OpexModel'">
            Opex Model
            <ion-icon  class="add" item-left name="add"></ion-icon>
            <ion-icon  class="remove" item-left name="remove"></ion-icon>
          </ion-item-divider>
          <div *ngIf="(filter === 'OpexModel')">
            <div class="welcome__single-content">
              <div>
                <div class="welcome__icon-circle">
                  <ion-icon name="close"></ion-icon>
                </div>
              </div>
              <div class="welcome__text">
                <p>No Upfront cost</p>
              </div>
            </div>

            <div class="welcome__single-content">
              <div>
                <div class="welcome__icon-circle">
                  <ion-icon class="fourpl-pay-for-energy"></ion-icon>
                </div>
              </div>
              <div class="welcome__text">
                <p>Pay for the energy generated from the solar plant</p>
              </div>
            </div>

            <div class="welcome__single-content">
              <div>
                <div class="welcome__icon-circle">
                  <ion-icon class="fourpl-funds"></ion-icon>
                </div>
              </div>
              <div class="welcome__text">
                <p>PreAgreed price: know your energy costs for the next 25 years</p>
              </div>
            </div>

          </div>
      
          <ion-item-divider [ngClass]="(filter === 'closeModel') ? 'active' : ''"  (click)="filter='closeModel'">
            Capex Model
            <ion-icon class="add" item-left name="add"></ion-icon>
            <ion-icon class="remove" item-left name="remove"></ion-icon>
          </ion-item-divider>
          <div *ngIf="(filter === 'closeModel')">
            <div class="welcome__single-content">
              <div>
                <div class="welcome__icon-circle">
                  <ion-icon class="fourpl-tick"></ion-icon>
                </div>
              </div>
              <div class="welcome__text">
                <p>Pay System cost upfront</p>
              </div>
            </div>

            <div class="welcome__single-content">
              <div>
                <div class="welcome__icon-circle">
                  <ion-icon class="fourpl-solar"></ion-icon>
                </div>
              </div>
              <div class="welcome__text">
                <p>Own solar plant over its lifetime(25 Years)</p>
              </div>
            </div>

            <div class="welcome__single-content">
              <div>
                <div class="welcome__icon-circle">
                  <ion-icon class="fourpl-payment"></ion-icon>
                </div>
              </div>
              <div class="welcome__text">
                <p>No Monthly Payements</p>
              </div>
            </div>

          </div>
        </ion-item-group>
      </div>
    </div>
  </div>
  <ion-fab mini bottom right color="orange-btn">
    <button ion-fab navPush="contact">
      <div class="welcome__fab-bg"></div>
        <ion-icon name="mail" color="white"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
