page-welcome {
  .scroll-content {
    background-color: map-get($colors, common-bg);
  }
  .header {
    &:after {
      background-image: none;
    }
    .toolbar-background {
      border: 0;
    }
  }
  .item-none {
    display: none;
  }
  .item-block{
    display: block;
  }
  ion-fab {
    background: #fca4436b;
    border-radius: 50%;
    padding: 10px;
  }
}
.welcome {
  &--intro {
    padding-bottom: 70px;
    background-color: map-get($colors, white);
  }
  &__head {
    text-transform: uppercase;
    color: #2d2d2e;
    font-family: $montserrat;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 0;
    padding-top: 20px;
  }
  &__about-text {
    color: #6d6d6d;
    font-family: $montserrat;
    margin: 0;
  }
  &__about {
    margin-top: -45px;
  }
  &__two-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  &__about-tab {
    border-radius: 8px;
    height: 120px;
    text-align: center;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      color: map-get($colors, white);
      font-family: $montserrat;
      margin: 10px 0 0 0;
    }
    span {
      font-size: 32px;
      color: map-get($colors, white);
      font-weight: 600;
    }
  }
  &__orange--tab {
    background-color: map-get($colors, orange-btn);
  }
  &__blue--tab {
    background-color: #1289da;
  }

  &__slider {
    margin: 30px 0 60px;
    h2, h3 {
      color: map-get($colors, wel-text);
      font-family: $montserrat;
    }
    h3 {
      margin-top: 0;
      font-size: 18px;
      margin-bottom: 0; 
    }
    h2 {
      font-size: 22px;
      text-transform: uppercase;
      margin-top: 5px;
      margin-bottom: 30px; 
    }
  }
  &__modal {
    background-color: map-get($colors, white); 
    padding-bottom: 30px;
  }
  
  &__banks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 6px;
    background: map-get($colors, white);
    transform: translateY(-50%);
  }

  &__banks--images {
    width: 30px;
  }

  &__modal-area {
    ion-icon {
      font-weight: 600;
    }
  }
  &__single-content {
    border-bottom: 1px solid #dee2e8;
    padding: 12px 20px;
    background-color: #f1f4f8; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:last-child {
      border-bottom: 0;    
    }
    ion-icon {
      font-weight: 600;
      font-size: 20px;
      color: map-get($colors, white);
    }
    p {
      color: #555555;
      font-family: $montserrat;
      margin: 0;
      margin-left: 12px;
    }
  }
  &__icon-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #555555;
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  &__text {
    width: 90%;
  }
  ion-item-divider {
    font-family: $montserrat;
    font-weight: 500;
    font-size: 18px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: #d7dce2;
    color: map-get($colors, wel-text);

    .add {
      display: block;
    }

    .remove {
      display: none;
    }

    &.active {
      background-color: map-get($colors, accordionActive);
      color: map-get($colors, white);
      .add {
        display: none;
      }
  
      .remove {
        display: block;
      }
    }
    
  }
  ion-fab {
    ion-icon {
      font-size: 32px;
    }
  }
}
