<ion-header>
  <ion-navbar no-border-top no-border-bottom>
    <ion-row>
      <ion-col col-2>
        <ion-buttons item-start>
          <button ion-button icon-only menuToggle>
            <ion-icon class="ion-md-menu" color="menu-bar"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col col-8 align-self-center>
        <ion-title text-center>{{plants?.plantName}}</ion-title>
      </ion-col>
      <ion-col col-2>
        <ion-buttons end>
          <button ion-button icon-only>
            <img src="assets/imgs/logo.svg" alt="logo">
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content class="plant">
  <div class="plant__content">
    <div class="plant__head">
      <div class="plant__options">
        <button ion-button class="plant__btn plant__left--btn" [class.selected]="showTab == 'Live'" (click)="showTab = 'Live'">
          Live</button>
        <button ion-button class="plant__btn plant__center--btn" [class.selected]="showTab == 'Archive'" (click)="showTab = 'Archive'">
          Archive</button>
        <button ion-button class="plant__btn plant__right--btn" [class.selected]="showTab == 'Details'" (click)="showTab = 'Details'">
          Details</button>
      </div>
    </div>

    <!-- live section -->
    <div *ngIf="showTab === 'Live'">
      <div class="plant__statistics">
        <div class="plant__details-head">
          <div>
            <ion-icon class="ion-ios-pie-outline"></ion-icon>
          </div>
          <div>
            <p>Statistic Today</p>
          </div>
        </div>
        <div class="plant__stats">
          <!-- <img src="assets/imgs/three-buttons.png" alt="stats"> -->
          <div class="plant__stats-circle">
            <div class="plant__inveterter-circle plant__stats-blue">
              <div class="plant__circle-bg">
                <div class="plant__circle-text plant__blue-circle-text">
                  <p>
                    <span>TL</span>
                    {{ statsToday?.tl }}</p>
                </div>
              </div>
              <round-progress [current]="[[75]]" [max]="100" [color]="'#00bbe0'" [background]="'#ebebeb'" [radius]="57"
                [stroke]="3" [rounded]="true" [responsive]="false" [duration]="800" [animation]="'easeInOutQuart'" [animationDelay]="0"></round-progress>
            </div>
            <div class="plant__inveterter-circle plant__stats-orange">
              <div class="plant__circle-bg plant__orange-circle-bg">
                <div class="plant__circle-text plant__orange-circle-text">
                  <p>
                    <span>Kwh/kwp</span>
                    {{ statsToday?.kwh }}</p>
                </div>
              </div>
              <round-progress [current]="[[75]]" [max]="100" [color]="'#e2be18'" [background]="'#ebebeb'" [radius]="90"
                [stroke]="3" [rounded]="true" [responsive]="false" [duration]="800" [animation]="'easeInOutQuart'" [animationDelay]="0"></round-progress>
            </div>
          </div>
          <div class="plant__stats-green">
            <div class="plant__circle-bg plant__green-circle-bg">
              <div class="plant__circle-text plant__green-circle-text">
                <p>
                  <span>PR</span>
                  {{ statsToday?.pr }}</p>
              </div>
            </div>
            <round-progress [current]="[[75]]" [max]="100" [color]="'#3edb89'" [background]="'#ebebeb'" [radius]="75"
              [stroke]="3" [rounded]="true" [responsive]="false" [duration]="800" [animation]="'easeInOutQuart'" [animationDelay]="0"></round-progress>
          </div>
        </div>
      </div>

      <div class="plant__statistics">
        <div class="plant__details-head">
          <div>
            <img src="assets/imgs/green-energy.png" alt="green-energy">
          </div>
          <div>
            <p>Energy</p>
          </div>
        </div>
        <div class="plant__inverter">
          <div class="plant__inverter-single">
            <div class="plant__inverter-head">
              <div>
                <p>Meters</p>
              </div>
              <div class="plant__meter-bullet">
                <div class="plant__big-pointer plant--blue"></div>
              </div>
            </div>
            <div class="plant__inverter-power">
              <div class="plant__number">
                <p>{{ energyToday?.meter }}</p>
              </div>
              <div class="plant__unit">
                <p>kwh</p>
              </div>
            </div>
          </div>

          <div class="plant__inverter-single">
            <div class="plant__inverter-head">
              <div>
                <p>Inverters</p>
              </div>
              <div class="plant__meter-bullet">
                <div class="plant__big-pointer plant--blue"></div>
              </div>
            </div>
            <div class="plant__inverter-power">
              <div class="plant__number">
                <p>{{ energyToday?.inverter }}</p>
              </div>
              <div class="plant__unit">
                <p>kwh</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="plant__power">
        <div class="plant__details-head">
          <div>
            <img src="assets/imgs/green-energy.png" alt="green-energy">
          </div>
          <div>
            <p>Power</p>
          </div>
        </div>
        <progressbar [current]="powerNow?.current" [progress]="powerNow?.percent"></progressbar>
      </div>

      <div class="plant__solar" *ngIf="plants?.slideDown?.irridation">
        <div class="plant__details-head">
          <div>
            <img src="assets/imgs/solar-panel.png" alt="green-energy">
          </div>
          <div>
            <p>Solar Irradiation</p>
          </div>
        </div>
        <div class="plant__inverter">
          <div class="plant__inverter-single">
            <div class="plant__inverter-head">
              <div>
                <p>Meters</p>
              </div>
              <div class="plant__solar-bullet">
                <div class="plant__big-pointer plant--orange"></div>
              </div>
            </div>
            <div class="plant__inverter-power">
              <div class="plant__solar-number">
                <p>{{ irridation.energyToday }}</p>
              </div>
              <div class="plant__solar-unit">
                <p>kwh/m2</p>
              </div>
            </div>
          </div>

          <div class="plant__inverter-single">
            <div class="plant__inverter-head">
              <div>
                <p>Meters</p>
              </div>
              <div class="plant__solar-bullet">
                <div class="plant__big-pointer plant--orange"></div>
              </div>
            </div>
            <div class="plant__inverter-power">
              <div class="plant__solar-number">
                <p>{{ irridation.powerNow }}</p>
              </div>
              <div class="plant__solar-unit">
                <p>kwh/m2</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="plant__inverters">
        <div class="plant__details-head">
          <div>
            <img src="assets/imgs/inverter.png" alt="green-energy" class="plant__inverter-image">
          </div>
          <div>
            <p>Inverters</p>
          </div>
        </div>

        <div class="plant__inverter-data">
          <div class="plant__inveterter-detail" *ngFor="let inverter of inverters">
            <div class="plant__status">
              <div class="plant__pointer plant--orange"></div>
            </div>
            <div class="plant__inveterter-data">
              <div class="plant__inveterter-circle">
                <div class="plant__circle-bg"></div>
                <div class="plant__circle-text">
                  <p>
                    {{ inverter?.name }}
                  </p>
                </div>
                <round-progress [current]="inverter ? (inverter.energyToday / inverter.powerNow) : 0" [max]="100" [color]="'#00bbe0'" [background]="'#ebebeb'" [radius]="57"
                  [stroke]="3" [rounded]="true" [responsive]="false" [duration]="800" [animation]="'easeInOutQuart'" [animationDelay]="0"></round-progress>
              </div>
              <div>
                <p>Power Now:
                  <span>{{ inverter?.powerNow }} kw</span>
                </p>
              </div>
              <div>
                <p>Energy Today:
                  <span>{{ inverter?.energyToday }} kw</span>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="plant__meters">
        <div class="plant__details-head">
          <div>
            <ion-icon class="ion-ios-speedometer-outline"></ion-icon>
          </div>
          <div>
            <p>Energy Meters</p>
          </div>
        </div>
        <div class="plant__energy-meters">
          <!-- <img src="assets/imgs/meter.png" alt="energymeter"> -->
          <div class="plant__meter-image">
            <round-progress [current]="[[75]]" [max]="100" [color]="'#1193e6'" [background]="'#ebebeb'" [radius]="110" [semicircle]="true"
                  [stroke]="20" [rounded]="true" [duration]="800" [animation]="'easeInOutQuart'" [animationDelay]="0" style="margin: 0 auto"></round-progress>
          </div>
          <p>{{ meters }}
            <span>kwh</span>
          </p>
        </div>
      </div>

    </div>

    <!-- archive section -->
    <plant-details-archive *ngIf="showTab === 'Archive'"></plant-details-archive>

    <!-- details section -->
    <div class="plant__details" *ngIf="showTab === 'Details'">
      <div class="plant__details-head">
        <div>
          <ion-icon class="ion-ios-alert-outline"></ion-icon>
        </div>
        <div>
          <p>Plant Details</p>
        </div>
      </div>

      <div class="plant__details-content">

        <div class="plant__single-content" *ngIf="plants?.plantName">
          <div>
            <p>Name</p>
          </div>
          <div class="plant__single-bold">
            <p>{{plants?.plantName}}</p>
          </div>
        </div>

        <div class="plant__single-content" *ngIf="plants?.plantCapacity">
          <div>
            <p>Capacity</p>
          </div>
          <div class="plant__single-bold">
            <p>{{plants?.plantCapacity}}</p>
          </div>
        </div>

        <div class="plant__single-content" *ngIf="plants?.commissioningDate">
          <div>
            <p>Commission Date</p>
          </div>
          <div class="plant__single-bold">
            <p>{{plants?.commissioningDate | amDateFormat:'LL'}}</p>
          </div>
        </div>

        <div class="plant__single-content" *ngIf="plants?.dataLoggingDate">
          <div>
            <p>Data Logging Date</p>
          </div>
          <div class="plant__single-bold">
            <p>{{plants?.dataLoggingDate | amDateFormat:'LL'}}</p>
          </div>
        </div>

        <div class="plant__single-content" *ngIf="plants?.panelMake">
          <div>
            <p>Panel Make</p>
          </div>
          <div class="plant__single-bold">
            <p>{{plants?.panelMake}}</p>
          </div>
        </div>

        <div class="plant__single-content no-border-bottom" *ngIf="plants?.panelModel">
          <div>
            <p>Panel Model</p>
          </div>
          <div class="plant__single-bold">
            <p>{{plants?.panelModel}}</p>
          </div>
        </div>

        <div class="plant__single-content" *ngIf="plants?.siteInchargeInternal">
          <div>
            <p>Site Incharge
              <span>*</span> Internal</p>
          </div>
          <div class="plant__single-bold">
            <p>{{plants?.siteInchargeInternal}}</p>
          </div>
        </div>

        <div class="plant__single-content" *ngIf="plants?.generationGuaranteed">
          <div>
            <p>Generation Gauranteed</p>
          </div>
          <div class="plant__single-bold">
            <p>{{plants?.generationGuaranteed}}</p>
          </div>
        </div>

      </div>

      <div class="plant__details-head">
        <div>
          <ion-icon class="ion-ios-pin-outline"></ion-icon>
        </div>
        <div>
          <p>Location</p>
        </div>
      </div>

      <div class="plant__details-content">

        <div class="plant__single-content" *ngIf="plants?.addressLineOne">
          <div>
            <p>Line 1</p>
          </div>
          <div class="plant__single-bold">
            <p>{{plants?.addressLineOne}}</p>
          </div>
        </div>

        <div class="plant__single-content" *ngIf="plants?.addressLineTwo">
          <div>
            <p>Line 2</p>
          </div>
          <div class="plant__single-bold">
            <p>{{plants?.addressLineTwo}}</p>
          </div>
        </div>

        <div class="plant__single-content" *ngIf="plants?.city">
          <div>
            <p>City</p>
          </div>
          <div class="plant__single-bold">
            <p>{{plants?.city}}</p>
          </div>
        </div>

        <div class="plant__single-content" *ngIf="plants?.state">
          <div>
            <p>State</p>
          </div>
          <div class="plant__single-bold">
            <p>{{plants?.state}}</p>
          </div>
        </div>

        <div class="plant__single-content" *ngIf="plants?.pincode">
          <div>
            <p>Pincode</p>
          </div>
          <div class="plant__single-bold">
            <p>{{plants?.pincode}}</p>
          </div>
        </div>

      </div>

      <div *ngIf="plants?.contactPersonName || plants?.contactPersonDesignation || plants?.contactPersonNumberOne || plants?.contactPersonNumberTwo || plants?.contactPersonEmail">
        <div class="plant__details-head">
          <div>
            <img src="assets/imgs/solar-panel.png" alt="solar">
          </div>
          <div>
            <p>Contact Person</p>
          </div>
        </div>

        <div class="plant__contact-person" >
          <h3 *ngIf="plants?.contactPersonName">{{plants?.contactPersonName}}</h3>
          <p *ngIf="plants?.contactPersonDesignation">{{plants?.contactPersonDesignation}}</p>
          <div class="plant__contact-details">
            <div>
              <p *ngIf="plants?.contactPersonNumberOne || plants?.contactPersonNumberTwo">
                <ion-icon class="ion-ios-call"></ion-icon> {{plants?.contactPersonNumberOne}} {{plants?.contactPersonNumberTwo}}</p>
            </div>
            <div class="plant__contact-mail">
              <p *ngIf="plants?.contactPersonEmail">
                <ion-icon class="ion-ios-mail"></ion-icon> {{plants?.contactPersonEmail}}</p>
            </div>
          </div>

        </div>
      </div>  

      <div class="plant__details-head">
        <div>
          <img src="assets/imgs/solar-panel.png" alt="solar">
        </div>
        <div>
          <p>Panels</p>
        </div>
      </div>

      <div *ngFor="let devicemac of plants?.deviceMac">
          <div class="plant__inverter" *ngFor="let inverter of devicemac.inverters">
              
              <div class="plant__inverter-single">
                <div class="plant__inverter-head">
                  <div>
                    <p>{{inverter.serialNumber}}</p>
                  </div>
                  <div class="plant__bullet">
                    <div class="plant__big-pointer plant--orange"></div>
                  </div>
                </div>
                <div class="plant__inverter-content">
                  <div class="plant__measurement">
                    <p>{{inverter.MPPT1}}</p>
                  </div>
                  <div class="plant__unit">
                    <p>{{inverter.make}}</p>
                  </div>
                </div>
              </div>
              <div class="plant__inverter-single">
                <div class="plant__inverter-head">
                  <div>
                    <p>{{inverter.serialNumber}}</p>
                  </div>
                  <div class="plant__bullet">
                    <div class="plant__big-pointer plant--orange"></div>
                  </div>
                </div>
                <div class="plant__inverter-content">
                  <div class="plant__measurement">
                    <p>{{inverter.MPPT2}}</p>
                  </div>
                  <div class="plant__unit">
                    <p>{{inverter.make}}</p>
                  </div>
                </div>
              </div>
            </div>
      </div>

    </div>

  </div>
</ion-content>