page-plant-details {
  .scroll-content {
    padding: 0;
    background-color: map-get($colors, common-bg);
  }
  .positionRelative {
    position: relative;
  }
  .percentageValue {
    left: 10px;
    top: 40%;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
  }
}
  ion-navbar {
    .toolbar-content {
      margin-right: 0;
    }
  }
.plant {
  p {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }
  &__content {
    padding-top: 40px/$divider;
    padding-bottom: 40px/$divider;
    margin: 0;
    width: 100%;
    background-color: #ffffff;
  }
  &__graph-controls {
    padding: 70px/$divider 40px/$divider 0;
    margin: 0;
    width: 100%;
    background-color: #ffffff;
  }
  &__head {
    padding-left: 40px/$divider;
    padding-right: 40px/$divider;
  }
  .selected {
    background-color: #ee891d!important;
  }
  &__options {
    font-family: Montserrat, sans-serif;
    font-size: 40px/$divider;
    display: flex;
    justify-content: center;
  }
  &__btn {
    padding-top: 45px/$divider;
    padding-bottom: 45px/$divider;
    background-color: #fea444!important;
    width: 50%;
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 40px/$divider;
    border-radius: 6px;
  }
  &__left--btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__center--btn {
    border-radius: 0;
  }
  &__right--btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .selected {
    background-color: #ee891d!important;
  }
  &__details-view {
    padding-top: 55px/$divider;
    padding-bottom: 45px/$divider;
    padding-left: 40px/$divider;
    padding-right: 40px/$divider;
    border-bottom: 1px solid #e4e4e4;
  }
  &__details-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ion-label {
      color: map-get($colors, intial-text);
      font-family: Montserrat, sans-serif;
      font-size: 45px/$divider;
    }
  }
  &__options,
  &__year {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 1rem;
  }
  &__datepicker {
    display: flex;
    align-items: center;
    background-color: lightgrey;
    border-radius: 4px;
    max-height: 2rem;
    max-width: 12rem;
    font-size: 1.2rem !important;
    padding: 1.5rem 1rem;
    .datetime-text {
      color: map-get($colors, intial-text);
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-content: center;
    button {
      border-radius: 2px;
      padding: 20px/$divider 40px/$divider;
      color: map-get($colors, plant-button);
      font-family: Montserrat, sans-serif;
      font-size: 26px/$divider;
    }
  }
  &__btn-gey {
    color: map-get($colors, dark-grey)!important;
    background-color: map-get($colors, faded-grey) !important;
    &.active {
      background-color: map-get($colors, fade-blue) !important;
      color: map-get($colors, white)!important;
    }
  }
  &__year-arrow {
    height: 13px;
    width: 13px;
    margin-left: 2px;
    margin-top: 4px;
  }
  .ion-ios-eye-outline {
    font-size: 26px;
    color: map-get($colors, intial-text);
    margin-right: 2px;
    margin-left: 2px;
  }
  ion-datetime {
    color: map-get($colors, intial-text);
    font-size: 18px;
    font-family: Montserrat, sans-serif;
  }
  &__graph {
    padding: 0;
    border-bottom: 1px solid #e4e4e4;
  }
  &__year-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 40px/$divider;
    padding-right: 40px/$divider;
    .ion-ios-eye-outline {
      color: #bcbcbc;
    }
  }
  &__second-graph {
    padding-top: 65px/$divider;
    padding-bottom: 30px/$divider;
    padding-left: 40px/$divider;
    padding-right: 40px/$divider;
  }
  .alert-head {
    h2.alert-title {
      color: map-get($colors, intial-text)!important;
    }
  }
  &__view-select {
    position: absolute;
    max-width: 3rem;
    transform: translate(750px/$divider, -95px/$divider);
    .alert-button-group {
      display: none;
    }
    .alert-wrapper {
      font-family: Montserrat, sans-serif;
    }
    ion-select {
      // max-width: 0 !important;
      // position: absolute;
      padding: 0 !important;
      margin-top: -19px;
    }
  } // details style starts ------------------------------------------------------------------------
  &__details {
    padding-left: 40px/$divider;
    padding-right: 40px/$divider;
  }
  &__details-head {
    display: flex;
    justify-content: flex-start;
    padding-top: 45px/$divider;
    padding-bottom: 45px/$divider;
    .ion-ios-alert-outline {
      font-size: 55px/$divider;
      color: #88a4b5;
    }
    .ion-ios-pie-outline {
      font-size: 60px/$divider;
      color: #88a4b5;
    }
    p {
      color: map-get($colors, intial-text);
      font-size: 45px/$divider;
      margin-left: 35px/$divider!important;
      margin: 0;
    }
    img {
      width: 55px/$divider;
    }
  }
  &__details-content {
    background-color: map-get($colors, fade-blue);
  }
  &__single-content {
    padding-left: 45px/$divider;
    padding-right: 45px/$divider;
    padding-top: 30px/$divider;
    padding-bottom: 30px/$divider;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #01cbf1;
    p {
      font-size: 34px/$divider;
      color: map-get($colors, white);
      margin: 0;
    }
  }
  &__single-bold {
    p {
      font-weight: 500;
      font-size: 50px/$divider;
    }
  }
  .no-border-bottom {
    border-bottom: 0;
  }
  &__contact-person {
    background-color: #f0f4f8;
    padding: 60px/$divider;
    border-radius: 6px;
    h3 {
      font-family: 'Montserrat', sans-serif;
      font-size: 50px/$divider;
      color: map-get($colors, fade-blue);
      margin: 0;
      margin-bottom: 30px/$divider;
    }
    p {
      font-size: 30px/$divider;
      color: #8d939a;
    }
  }
  &__inverter,
  &__inverter-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__inverter-head {
    p {
      font-size: 34px/$divider;
      color: map-get($colors, intial-text);
    }
  }
  &__inverter {
    margin-bottom: 70px/$divider;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-bottom: 22px;
    }
  }
  &__inverter-single {
    background-color: #f0f4f8;
    padding: 8px;
    width: 48%;
    border-radius: 8px/$divider;
    font-family: Montserrat, sans-serif;
    padding: 25px/$divider 8px 35px/$divider;
    border-radius: 8px;
    p {
      font-size: 12px;
      color: map-get($colors, intial-text);
    }
  }
  &__bullet {
    p {
      color: #fea444;
      font-size: 40px;
    }
  }
  &__inverter-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__measurement {
    p {
      font-size: 160px/$divider;
      color: #16c6e7;
    }
  }
  &__unit {
    p {
      font-size: 36px/$divider;
      color: #8d939a;
    }
  }
  &__statistics {
    padding-left: 40px/$divider;
    padding-right: 40px/$divider;
    border-bottom: 1px solid #e4e4e4;
    .plant__details-head {
      align-content: center;
    }
  }
  &__meter-bullet {
    p {
      color: map-get($colors, fade-blue);
      font-size: 40px;
    }
  }
  &__stats {
    padding-bottom: 80px/$divider;
  }
  &__inverter-power {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__number {
    p {
      font-size: 140px/$divider;
    }
  }
  &__unit {
    p {
      font-size: 36px/$divider;
    }
  }
  &__power {
    padding-left: 40px/$divider;
    padding-right: 40px/$divider;
    padding-bottom: 90px/$divider;
    border-bottom: 1px solid #e4e4e4;
  }
  &__solar {
    padding-left: 40px/$divider;
    padding-right: 40px/$divider;
    padding-bottom: 90px/$divider;
    border-bottom: 1px solid #e4e4e4;
  }
  &__solar-bullet {
    p {
      color: #fea444;
      font-size: 40px;
    }
  }
  &__solar-number {
    p {
      font-size: 110px/$divider;
    }
  }
  &__solar-unit {
    p {
      font-size: 30px/$divider;
      color: #8d939a;
    }
  }
  &__pointer {
    height: 20px/$divider;
    width: 20px/$divider;
    border-radius: 50%;
  }
  &__big-pointer {
    height: 30px/$divider;
    width: 30px/$divider;
    border-radius: 50%;
  }
  &--orange {
    background-color: #f99831;
  }
  &--blue {
    background-color: map-get($colors, fade-blue);
  }
  &__status {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__inveterter-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 10px;
      color: #a7a7a7;
      line-height: 25px/$divider;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        font-size: 20px;
        line-height: 65px/$divider;
      }
    }
    span {
      color: map-get($colors, intial-text);
    }
    img {
      margin-bottom: 45px/$divider;
    }
  }
  &__inverter-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px/$divider;
  }
  &__inverters,
  &__meters {
    padding-left: 40px/$divider;
    padding-right: 40px/$divider;
    padding-bottom: 90px/$divider;
    border-bottom: 1px solid #e4e4e4;
  }
  &__inveterter-detail {
    background-color: map-get($colors, white);
    width: 48%;
    border-radius: 8px;
    box-shadow: 1px 1px 15px 10px rgba(242, 242, 242, 1);
    padding: 30px/$divider 35px/$divider 45px/$divider;
    margin-bottom: 40px/$divider;
  }
  &__energy-meters {
    text-align: center;
    img {
      margin-bottom: 80px/$divider;
    }
    p {
      font-weight: 500;
      font-size: 130px/$divider;
      color: map-get($colors, intial-text);
      margin: 0;
    }
    span {
      color: #8d939a;
      font-size: 50px/$divider;
    }
  }
  &__meters {
    padding-bottom: 50px/$divider;
    border-bottom: 0;
  }
  .ion-ios-speedometer-outline {
    font-size: 21px;
  }
  &__inverter-image {
    width: 23px!important;
  }
  &__contact-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 14px;
    .ion-ios-call,
    .ion-ios-mail {
      vertical-align: middle;
      font-size: 20px;
    }
  }
  &__contact-mail {
    margin-left: 20px;
  }
  &__inveterter-circle {
    position: relative;
    margin-bottom: 20px;
    p {
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      color: map-get($colors, white);
      span {
        font-size: 50px;
        color: map-get($colors, white);
      }
    }
  }
  &__stats-green {
    margin-left: 18%;
    margin-top: -20px;
    position: relative;
  }
  &__circle-text {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    padding: 0 15px;
    transform: translateY(-50%);
    text-align: center;
  }
  &__circle-bg {
    position: absolute;
    left: 7px;
    top: 7px;
    width: 100px;
    background: #2cbcdf;
    background-size: 100%;
    text-align: center;
    height: 100px;
    border-radius: 50%;
    z-index: 0;
  }
  &__stats-circle {
    font-family: $montserrat;
    font-weight: 500;
    color: map-get($colors, white);
  }
  &__stats-circle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__orange-circle-bg {
    width: 93%;
    background: #f99831;
    text-align: center;
    height: 93%;
  }
  &__green-circle-bg {
    width: 136px;
    background: #5dcf25;
    height: 136px;
  }
  &__blue-circle-text {
    top: 50%;
    left: 0;
    text-align: center;
    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 35px;
      color: #fff;
      span {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 15px;
      }
    }
  }
  &__orange-circle-text {
    top: 50%;
    left: 0;
    text-align: center;
    p {
      font-size: 60px;
      font-weight: 500;
      line-height: 45px;
      span {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 18px;
      }
    }
  }
  &__green-circle-text {
    top: 50%;
    left: 0;
    p {
      font-size: 30px;
      font-weight: 500;
      line-height: 35px;
      color: #fff;
      span {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 20px;
      }
    }
  }
  &__meter-image {
    margin: 0 auto;
  }
}
