page-about-solar {
  font-family: $montserrat;
  .ion-md-menu {
    color: map-get($colors, white);
  }
  .toolbar-background {
    background: url('../assets/imgs/header-bg.png') no-repeat;
    background-size: 100% 100%;
  }
  .toolbar-title {
    color: map-get($colors, white);
    font-size: 18px;
  }
  .toolbar-content {
    display: flex;
  }
  .bar-buttons {
    order: 0;
  }
  ion-title {
    margin-right: 40px;
  }
}

.about-solar {
  h3 {
    margin-top: 2px;
    margin-bottom: 15px;
    color: map-get($colors, blue-btn);
    font-size: 20px;
    font-weight: 500;
  } 
  &__description {
    background-color: map-get($colors, light);
  }
  &__details {
    padding: 15px;
    border-bottom: 1px solid #dbdbdb;
    &:last-child {
      border-bottom: 0;
    }
    img {
      float: left;
      margin-right: 15px;
      width: 35%;
    }
    p {
      color: #848484;
      line-height: 22px;
      font-size: 15px;
      text-align: left;
      margin: 0;
    }
  }
  &__environment {
    background-color: map-get($colors, white);
    padding: 15px 25px 30px;
    text-align: center;
    
    p {
      color: #7a7a7a;
      line-height: 22px;
      font-size: 15px;
      margin: 0;
    }
  }
  &__environment-images {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 90%;
    }
  }
}

