<div class="plant__details-view">
  <div>
    <ion-label>Turn on graphs detail view</ion-label>
  </div>
  <div>
    <ion-toggle (ionChange)="isDisabled = !isDisabled"></ion-toggle>
  </div>
</div>

<div class="plant__graph-controls">
  <div class="plant__options">
    <div class="plant__buttons">
      <button ion-button [class.active]="filter == 'month'" class="plant__btn-gey" (click)="changeGraph('month')">Month</button>
      <button ion-button [class.active]="filter == 'year'" class="plant__btn-gey" (click)="changeGraph('year')">Year</button>
      <button ion-button [class.active]="filter == 'lifetime'" class="plant__btn-gey" (click)="changeGraph('lifetime')">Lifetime</button>
    </div>
  </div>
    <div class="plant__year">
      <ion-icon name="arrow-dropleft" *ngIf="filter !== 'lifetime'" (click)="prevBarDate()"></ion-icon>
      <div>
        <ion-datetime class="plant__datepicker" *ngIf="filter == 'month'" displayFormat="MMM YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="barDateLabel" [placeholder]="barDateLabel" (ngModelChange)="changeGraph('month', $event)"></ion-datetime>
        <ion-datetime class="plant__datepicker"*ngIf="filter == 'year'" displayFormat="YYYY" pickerFormat="YYYY" [(ngModel)]="barDateLabel" [placeholder]="barDateLabel" (ngModelChange)="changeGraph('year', $event)"></ion-datetime>
        <span class="plant__datepicker" *ngIf="filter == 'lifetime'">Lifetime</span>
      </div>
      <ion-icon name="arrow-dropright" *ngIf="filter !== 'lifetime'" (click)="nxtBarDate()"></ion-icon>
    </div>
</div>
<div>
  <div class="plant__graph" text-center *ngIf="!barChart">
    <ion-spinner></ion-spinner>
  </div>
  <div class="plant__graph" *ngIf="barChart">
    <chart [barGraphData]="barChart"></chart>
  </div>
</div>

<div class="plant__graph-controls">
  <div class="plant__year">
    <ion-icon name="arrow-dropleft" (click)="prevLineDate()"></ion-icon>
    <div>
      <ion-datetime class="plant__datepicker" displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="lineDateLabel" [placeholder]="lineDateLabel" (ngModelChange)="onUpdateLineDate($event)">
      </ion-datetime>
    </div>
    <ion-icon name="arrow-dropright" (click)="nxtLineDate()"></ion-icon>
  </div>
</div>
<div>
  <div class="plant__graph" text-center *ngIf="!lineChart">
    <ion-spinner></ion-spinner>
  </div>
  <div class="plant__graph" *ngIf="lineChart">
    <line-chart [lineGraphData]="lineChart"></line-chart>
  </div>
</div>
