<ion-fab mini bottom left>
  <ion-badge *ngIf="alertNotificationsCount > 0" color="danger">{{alertNotificationsCount}}</ion-badge>
  <button ion-fab (click)="showAlerts()" class="notification-btn">
    <div class="welcome__fab-bg"></div>
      <ion-icon name="notifications" color="white"></ion-icon>
  </button>
</ion-fab>
