<div class="plant__view-select">
  <ion-icon item-center class="ion-ios-eye-outline"></ion-icon>
  <ion-select multiple="true" selectedText=" " [selectOptions]="selectOptions" (ionChange)="onSelectChange($event)">
    <ion-option selected="true">Energy Meters</ion-option>
    <ion-option selected="true">PR</ion-option>
    <ion-option selected="true">Inverters</ion-option>
  </ion-select>
</div>
<div style="display: block">
    <canvas baseChart #baseChart="base-chart" height="400" width="400"[datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
</div>