<div class="progress">
  <div class="progress__outer">
    <div class="progress__inner" [style.width.%]="progress || 0">
    </div>
  </div>
</div>
<div class="progress__text">
  <div><p>{{current}} kw</p></div>
  <div><p>{{ progress?.toFixed(2) }}%</p></div>
</div>
