
.progress {
  &__outer {
    width: 100%;
    text-align: center;
    background-color: #eff4f5;
    padding: 14px/$divider 16px/$divider;
    border-radius: 20px;
  }
  &__inner {
    white-space: nowrap;
    overflow: hidden;
    height: 20px;
    border-radius: 20px;
    background-color: map-get($colors, primary);
  }
  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat, sans-serif;
    color: map-get($colors, intial-text);
    font-size: 34px/$divider;
    margin-top: 20px/$divider;
    p {
      margin: 0;
    }
  }
}