page-portfolio {
  font-family: $montserrat;
  .ion-md-menu {
    color: map-get($colors, white);
  }
  .toolbar-background {
    background: url('../assets/imgs/header-bg.png') no-repeat;
    background-size: 100% 100%;
    z-index: 0;
    border-bottom: 0 !important;
  }
  .toolbar-title {
    color: map-get($colors, white);
    font-size: 18px;
  }
  .selected {
    background-color: #0e5398 !important;
  }
  .toolbar-content {
    display: flex;
  }
  .bar-buttons {
    order: 0;
  }
  ion-title {
    margin-right: 40px;
  }
} 

.portfolio {
  &__buttons {
    display: flex;
    justify-content: center;
  }
  &__tab-btn {
    background-color: map-get($colors, name)!important;
    margin: 0;
    text-transform: capitalize;
    font-size: 1.3rem !important;
    flex: 1;
    border-radius: 0px;
    border-right: .05rem solid #0e5398;
    &:last-of-type {
      border-right: 0;
    }
  }
  &__left--btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &__center--btn {
    border-radius: 0;
  }
  &__right--btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &__select-box {
    background-color: map-get($colors, white);
    .select-text {
      text-transform: capitalize;
    }
  }
  &__select {
    border: 1px solid map-get($colors, color1) !important;
    border-radius: 5px;
    width: 99%;
    margin: 0 auto;
    ion-select {
      max-width: 80%;
      color: #c1c1c1;
    }
    .select-icon {
      display: none;
    }
  }
}

.achievements {
  &--list {
    display: flex;
    border-bottom: 1px solid #d7d0d0;
    &:nth-child(even) {
      .achievements--image {
        order: 2;
      }
      .achievements--info{
        order: 1;
        padding-right: 16px;
        padding-left: 0px;
      }
    }
  }
  &--info{
    padding-left: 16px;
    p {
      color: map-get($colors , para-gray);
      line-height: 1.6;
    }
    span {
      font-weight: 600;
    }
  }
  &--image {
    width: 45%;
    flex-shrink: 0;
  }
}

.our-achievements {
  h2 {
    font-weight: 600;
  }
  &--list {
    h3 {
      span {
        color: map-get($colors, para-gray)
      }
    }

    p {
      color: map-get($colors, dark-grey)
    }
  }
}

.portfolio {
  background-color: map-get($colors, light);
  .scroll-content {
    display: flex;
    flex-flow: column;
    portfolio-installation {
      position: relative;
      flex: 1 0 auto;
    }
  }
}

.portfolio-achievements-wrapper {
  background-color: map-get($colors, white);
}