<ion-header>
  <ion-navbar no-border-top no-border-bottom>
    <ion-buttons item-start>
      <button ion-button icon-only menuToggle>
        <ion-icon class="ion-md-menu" color="menu-bar"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center color="white">Portfolio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="portfolio">
  <div class="portfolio__options" no-padding>
    <div class="portfolio__buttons">
      <button ion-button class="portfolio__tab-btn portfolio__left--btn" [class.selected]="showTab == 'achievements'" (click)="showTab = 'achievements'">Achievements</button>
      <button ion-button class="portfolio__tab-btn portfolio__center--btn" [class.selected]="showTab == 'installation'" (click)="showTab = 'installation'">Installations</button>
      <button ion-button class="portfolio__tab-btn portfolio__right--btn" [class.selected]="showTab == 'client'" (click)="showTab = 'client'">Clients</button>
    </div>
  </div>

  <!-- achievements section starts -->
  <div class="portfolio-achievements-wrapper" *ngIf="showTab === 'achievements'" padding>
    <div class="achievements--list" padding-vertical>
      <div class="achievements--image">
        <img src="assets/imgs/award.jpg">
      </div>
      <div class="achievements--info">
        <p no-margin>Among 6 companies invited to present at the Clean Energy and Climate Investment Forum in Vienna.</p>
        <p>9th – 12th May, 2017</p>
      </div>
    </div>
    <div class="achievements--list"  padding-vertical>
      <div class="achievements--image">
        <img src="assets/imgs/award-02.jpg">
      </div>
      <div class="achievements--info">
        <p no-margin>Winner at the Asia Forum for Clean Energy Financing and was chosen as “One of the Most Promising Clean Energy Investment
          Opportunities".</p>
        <p>10th February, 2017</p>
      </div>
    </div>

    <div class="achievements--list"  padding-vertical>
      <div class="achievements--image">
        <img src="assets/imgs/award-03.jpg">
      </div>
      <div class="achievements--info">
        <p no-margin>Won the Dun & Bradstreet India and RBL Bank <span>”SME  Business Excellence Award 2016”</span> under the 'Professional and Business Services' sector.</p>
        <p>29th November, 2016</p>
      </div>
    </div>

    <div class="our-achievements" padding>
      <h2 margin-top text-center>Our Achievements</h2>
      <div class="our-achievements--list" text-center padding>
          <h3>500 <span>+</span></h3>
          <p>Locations Installed</p>
      </div>

       <div class="our-achievements--list" text-center padding>
          <h3>30000 <span>Units</span></h3>
          <p>Power Generated Today</p>
      </div>

      <div class="our-achievements--list" text-center padding>
        <h3>60 <span>+</span></h3>
        <p>Number of Customers</p>
      </div>

      <div class="our-achievements--list" text-center padding>
        <h3>9000 <span>tons</span></h3>
        <p>Carbon Dioxide (Co2) emission reduction</p>
      </div>

      <div class="our-achievements--list" text-center padding>
        <h3>18,000,000 <span> litres</span></h3>
        <p>Water Saved</p>
      </div>

    </div>
  </div>

  <!-- installation section starts -->
  <portfolio-installation *ngIf="showTab === 'installation'" ></portfolio-installation>

  <!-- client section starts -->
  <portfolio-client *ngIf="showTab === 'client'" class="client-tabs-portfolio"></portfolio-client>
</ion-content>
