<ion-fab mini bottom right color="orange-btn">
  <ion-badge *ngIf="discussionNotificationsCount > 0" color="danger">{{discussionNotificationsCount}}</ion-badge>
  <button ion-fab (click)="showDiscussions()" >
    <div class="welcome__fab-bg"></div>
      <ion-icon name="mail" color="white"></ion-icon>
  </button>
</ion-fab>
